<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dist/about.css" />
</head>

<body>
  <% include ../partials/header %>
  <h1 class="sr-only">About Oexpo</h1>
  <main class="about__page">
    <section class="about__banner page__title">
      <img src="/public/img/about_banner.jpg" class="w-100" alt="oexpo_about_banner" />
      <div class="page__title__wrapper">
        <div class="container">
          <h1 class="page__title__text">
            Giới thiệu <br>
            Về công ty
          </h1>
        </div>
      </div>
    </section>
    <section class="about__info">
      <div class="container">
        <div class="about__info__tit">
          <div class="about__info__logo">
            <img src="/public/img/about_logo_4oranges.svg" alt="about_logo_4oranges" />
          </div>
          <p class="about__info__des">
            Công Ty 4 ORANGES CO., LTD đầu tư vào thị trường Việt Nam từ năm
            2004, là công ty có vốn nước ngoài thuộc tập đoàn Asia Leader
            International Investment. Được chú trọng đầu tư với số vốn lên đến
            hơn 100 triệu USD và có năng lực sản xuất phục vụ thị trường tương
            đương 150 triệu lít Sơn & hơn 100 ngàn tấn Bột mỗi năm. Là một
            trong những Nhà máy sản xuất sơn & bột lớn nhất Đông Nam Á.
          </p>
        </div>

        <div class="row about__info__section about__info__section_1 align-items-center">
          <div class="col-md-6 about__info__section__img">
            <div class=" about__info__section__img-left text-center text-md-right">
              <img data-aos="fade-right" src="/public/img/about_info_1.jpg" alt="about_info_1" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about__info__section__content">
              <h4 class="about__info__section__title">
                Nhà máy sản xuất chuyên nghiệp
              </h4>
              <p class="about__info__section__des">
                Theo cập nhật mới nhất, đến tháng 6/2018 Công Ty 4 ORANGES
                CO., LTD tiếp tục khẳng định vị trí dẫn đầu trên thị trường
                SƠN TRANG TRÍ & CHẤT PHỦ tại Việt Nam với hơn 4000 Trung Tâm
                Pha & Phối Màu trên toàn Việt Nam. <br />
                Để có được vị trí như vậy, Công Ty 4 ORANGES CO., LTD đã tiến
                hành đầu tư và cải tiến liên tục trong nhiều năm từ Công nghệ,
                máy móc thiết bị, nhân sự chuyên môn… Cùng với đó là những
                Chính sách bán hàng, dịch vụ hỗ trợ khách hàng kinh doanh tốt
                nhất.
              </p>
            </div>
          </div>
        </div>

        <div class="row about__info__section about__info__section_2 align-items-center">
          <div class="col-md-6">
            <div class="about__info__section__content">
              <h4 class="about__info__section__title">
                Tiêu Chuẩn NQA của Anh
              </h4>
              <p class="about__info__section__des">
                Hơn nữa, việc tích hợp hệ thống quản lý chất lượng theo tiêu
                chuẩn ISO 9001:2015 và hệ thống quản lý môi trường theo tiêu
                chuẩn ISO 14001:2015 do tổ chức chứng nhận đa quốc gia NQA tại
                Anh Quốc cấp, với sự công nhận của IAF (International
                Accreditation Forum) và UKAS (United Kingdom Accreditation
                Service), là các cơ quan kiểm định được công nhận toàn cầu -
                khẳng định rằng Công Ty 4 ORANGES CO., LTD đã đề ra chính sách
                và định hướng phù hợp cho việc cải tiến liên tục các sản phẩm
                theo tiêu chuẩn quốc tế, đáp ứng nhu cầu càng cao về sản phẩm
                sơn trang trí của thị trường trong nước. Nhưng hơn hết, Công
                Ty 4 ORANGES CO., LTD luôn ưu tiên quá trình sản xuất với ý
                thức giảm thiểu tối đa những tác động tiêu cực đến môi trường
                nhằm bảo vệ cho một môi trường xanh, sạch và đẹp.
              </p>
            </div>
          </div>
          <div class="col-md-6 about__info__section__img">
            <div class=" about__info__section__img-right text-center text-md-left">
              <img data-aos="fade-left" src="/public/img/about_info_2.jpg" alt="about_info_1" />
            </div>
          </div>
        </div>

        <div class="row about__info__section about__info__section_3 align-items-center">
          <div class="col-md-6 about__info__section__img">
            <div class=" about__info__section__img-left text-center text-md-right">
              <img data-aos="fade-right" src="/public/img/about_info_3.jpg" alt="about_info_1" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="about__info__section__content">
              <h4 class="about__info__section__title">
                Tự hào đồng hành cùng “Hành trình văn hoá Việt"
              </h4>
              <p class="about__info__section__des">
                Hành Trình Văn Hóa Việt là chương trình truyền hình về văn hoá
                đỉnh cao trên khắp đất nước Việt Nam, truyền tải nội dung sâu
                sắc qua những thước phim đẹp, được đầu tư chỉn chu, chuyên
                nghiệp. <br />
                Cảm ơn Công Ty 4 ORANGES CO., LTD - Nhãn hàng Sơn OEXPO đã tài
                trợ độc quyền cho chương trình.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about__disan">
      <div class="about__disan__item about__disan__bg">
        <span class="about__disan__bg__gradient"></span>
      </div>
      <div class="about__disan__item about__disan__info">
        <h4 data-aos="fade-left">
          <img src="/public/img/about__disan__info.svg" alt="about__disan__info" />
        </h4>
      </div>
    </section>

    <section class="about__products">
      <div class="container">
        <h4 class="about__products__title">
          Công Ty 4 ORANGES CO., LTD đã tiến hành nghiên cứu, phát triển đa
          dạng thêm những dòng seri sản phẩm khác nhau với những tính năng
          chuyên biệt, ứng dụng công nghệ đặc thù để đáp ứng những công trình
          có những đòi hỏi cao, khắc khe nhất. Đó là những seri sản phẩm như:
        </h4>
        <div class="row about__products__item about__products__item--cody align-items-center">
          <div class="col-sm-6 about__products__img about__products__img--cody">
            <img data-aos="fade-right" src="/public/img/about_product_1.png" alt="about_product_1" />
          </div>
          <div class="col-sm-6">
            <div class="about__products__info">
              <div class="about__products__name">
                <svg aria-hidden="true" height="41" width="200" title="about__products__name">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about-logo-cody"></use>
                </svg>
              </div>
              <p class="about__products__des">
                Chuyên phục vụ cho công trình từ thấp cấp đến trung cao cấp
                như Nhà dân, nhà cấp 3, Villa, Công trình...
              </p>
            </div>
          </div>
        </div>

        <div class="row about__products__item about__products__item--zoco align-items-center">
          <div class="col-sm-6">
            <div class="about__products__info">
              <div class="about__products__name">
                <svg aria-hidden="true" height="90" width="200" title="about__products__name">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about-logo-zoco"></use>
                </svg>
              </div>
              <p class="about__products__des">
                Chuyên biệt cho những công trình có đòi hỏi cao về chất lượng
                màng sơn, tính năng đặc biệt và khắc khe như: Villa, Công
                trình đặc biệt được chỉ định, Dự án cao cấp …
              </p>
            </div>
          </div>

          <div class="col-sm-6 about__products__img about__products__img--zoco">
            <img data-aos="fade-left" src="/public/img/about_product_2.png" alt="about_product_1" />
          </div>
        </div>

        <div class="row about__products__item about__products__item--xix align-items-center">
          <div class="col-sm-6 about__products__img about__products__img--xix">
            <img data-aos="fade-right" src="/public/img/about_product_3.png" alt="about_product_1" />
          </div>
          <div class="col-sm-6">
            <div class="about__products__info">
              <div class="about__products__name">
                <svg aria-hidden="true" height="48" width="280" title="about__products__name">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about-logo-xix"></use>
                </svg>
              </div>
              <p class="about__products__des">
                Sản phẩm chuyên biệt phục vụ cho Dự Án với chất lượng & giá cả
                phù hợp.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_numbers">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-6 col-lg-3">
            <div class="about_numbers__item about_numbers__item__1">
              <div class="about_numbers__icon">
                <svg aria-hidden="true" width="52" height="49" title="icon-about_info_icon_1">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_info_icon_1"></use>
                </svg>
              </div>
              <div class="about_numbers__number">
                <span>
                  3500
                  <svg aria-hidden="true" width="27" height="26" title="icon-about_info_icon_4">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_plus_icon"></use>
                  </svg>
                </span>
              </div>
              <div class="about_numbers__tit">Cửa Hàng</div>
              <div class="about_numbers__des">
                Traffic and road closure news and local traffic conditions
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="about_numbers__item about_numbers__item__2">
              <div class="about_numbers__icon">
                <svg aria-hidden="true" width="39" height="54" title="icon-about_info_icon_2">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_info_icon_2"></use>
                </svg>
              </div>
              <div class="about_numbers__number">
                <span>
                  1200
                  <svg aria-hidden="true" width="27" height="26" title="icon-about_info_icon_4">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_plus_icon"></use>
                  </svg>
                </span>
              </div>
              <div class="about_numbers__tit">sản phẩm</div>
              <div class="about_numbers__des">
                Traffic and road closure news and local traffic conditions
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="about_numbers__item about_numbers__item__3">
              <div class="about_numbers__icon">
                <svg aria-hidden="true" width="45" height="49" title="icon-about_info_icon_3">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_info_icon_3"></use>
                </svg>
              </div>
              <div class="about_numbers__number">
                <span>
                  1000
                  <svg aria-hidden="true" width="27" height="26" title="icon-about_info_icon_4">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_plus_icon"></use>
                  </svg>
                </span>
              </div>
              <div class="about_numbers__tit">nhân viên</div>
              <div class="about_numbers__des">
                Traffic and road closure news and local traffic conditions
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="about_numbers__item about_numbers__item__4">
              <div class="about_numbers__icon">
                <svg aria-hidden="true" width="52" height="52" title="icon-about_info_icon_4">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_info_icon_4"></use>
                </svg>
              </div>
              <div class="about_numbers__number">
                <span>
                  5000
                  <svg aria-hidden="true" width="27" height="26" title="icon-about_info_icon_4">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-about_plus_icon"></use>
                  </svg>
                </span>
              </div>
              <div class="about_numbers__tit">màu sơn</div>
              <div class="about_numbers__des">
                Traffic and road closure news and local traffic conditions
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <% include ../partials/footer %>
  <script type="text/javascript" src="dist/about.js"></script>
</body>

</html>
