<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dist/news.css" />
</head>

<body class="news__article_body">
  <% include ../partials/header %>
  <main class="news__page news__article">

    <div class="news__nav oexpo__nav">
      <div class="container">
        <ul class="news__nav__list oexpo__nav__list">
          <li class="news__nav__item oexpo__nav__item">
            <a href="/" title="news__nav__item">
              sản phẩm
            </a>
          </li>
          <li class="news__nav__item oexpo__nav__item active">
            <a href="/" title="news__nav__item">
              xu hướng
            </a>
          </li>
          <li class="news__nav__item oexpo__nav__item">
            <a href="/" title="news__nav__item">
              công ty
            </a>
          </li>
          <li class="news__nav__item oexpo__nav__item">
            <a href="/" title="news__nav__item">
              công đồng
            </a>
          </li>
          <li class="news__nav__item oexpo__nav__item">
            <a href="/" title="news__nav__item">
              tin tức
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="news__content news__article__container container">
      <div class="row">

        <div class="col-lg-9">
          <div class="news__article__content">
            <h1 class="news__article__name">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry
            </h1>
            <div class="news__article__meta">
              <strong class="news__article__cat">
                Xu hướng
              </strong>
              <time class="news__article__date">
                15 Aug 2018
              </time>
            </div>
            <div class="news__article__body">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>

          </div>
        </div>
        <div class="col-lg-3">
          <div class="news__sidebar">
            <h4 class="news__sidebar__title">
              Tin tức liên quan
            </h4>

            <div class="news__sidebar__list">

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

            </div>

            <h4 class="news__sidebar__title">
              Tin tức phổ biến
            </h4>

            <div class="news__sidebar__list">

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

              <div class="news__sidebar__item">
                <div class="news__sidebar__img">
                  <img src="/public/img/news__item__img.jpg" alt="news__sidebar__img">
                </div>
                <div class="news__sidebar__info">
                  <h5 class="news__sidebar__name">
                    Lorem Ipsum is simply dummy text of the printing
                  </h5>
                  <time class="news__sidebar__date">15 Aug 2018 </time>
                </div>
              </div>

            </div>


          </div>
        </div>

      </div>

    </div>

  </main>
  <% include ../partials/footer %>
  <script type="text/javascript" src="dist/news.js"></script>
</body>

</html>
