<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dist/home.css" />
</head>

<body>
  <% include ../partials/header %>
  <main>
    <section class="mainbanner">
      <div class="mainbanner__slider">
        <div class="mainbanner__slider__bg">
          <video autoplay muted preload loop poster="/public/img/home-header-video.jpg">
            <source src="/public/img/home-header-video.mp4" type="video/mp4">
            <source src="/public/img/home-header-video-webm.webm" type="video/webm">
            <source src="/public/img/home-header-video-ogg.ogv" type="video/ogg">
          </video>
          <div class="mainbanner__slider__bg__arrow">
            <img src="/public/img/oexpo_video_arrow.svg" alt="oexpo_video_arrow">
          </div>
        </div>
        <div class="mainbanner__slider__content">
          <div class="container">

            <div class="mainbanner__slider__wrapper">
              <div class="mainbanner__slider__item">
                <div class="content">
                  sơn <span><img src="/public/img/oexpo-white.svg" alt=""></span><br /> tạo nên sắc màu cuộc sống
                </div>
              </div>
              <div class="mainbanner__slider__item">
                <div class="content">
                  sơn <span><img src="/public/img/oexpo-white.svg" alt=""></span><br /> tạo nên sắc màu cuộc sống
                </div>
              </div>
              <div class="mainbanner__slider__item">
                <div class="content">
                  sơn <span><img src="/public/img/oexpo-white.svg" alt=""></span><br /> tạo nên sắc màu cuộc sống
                </div>
              </div>
              <div class="mainbanner__slider__item">
                <div class="content">
                  sơn <span><img src="/public/img/oexpo-white.svg" alt=""></span><br />tạo nên sắc màu cuộc sống
                </div>
              </div>
            </div>

          </div>
        </div>
        <button class="mainbanner__slider__down">
          <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.4285 1.07141L8.06451 7.43537L1.70055 1.07141" stroke="currentcolor" stroke-width="3" />
          </svg>
        </button>
      </div>

      <div class="mainbanner__products">

        <div class="mainbanner__products__item mainbanner__products__left ">

          <div data-aos="fade-right" class="mainbanner__products__item__content">
            <div class="mainbanner__products__item__img ">
              <img src="/public/img/home_banner_product_cody.png" alt="">
            </div>
          </div>

        </div>

        <div class="mainbanner__products__item mainbanner__products__right ">

          <div data-aos="fade-left" class="mainbanner__products__item__content">
            <div class="mainbanner__products__item__img ">
              <img src="/public/img/home_banner_product_zoco.png" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <section class="featured_products">
      <div class="container">
        <h2 class="featured_products__title">
          sản phẩm nổi bật
        </h2>
        <div class="featured_products__content">
          <div class="featured_products__list cody">

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #D2A601;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #D2A601 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #f5a18e;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f5a18e 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_2.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody topone
              </h4>
              <p class="product-item__des">sơn nước bóng, nội thất </p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #9AA7B1;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #9AA7B1 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_3.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody super gold
              </h4>
              <p class="product-item__des">sơn bóng chống thấm nước</p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #fed204;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fed204 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_4.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody hybridkot
              </h4>
              <p class="product-item__des">sơn nước bóng mờ ngoài trời</p>
            </div>

          </div>
          <div class="featured_products__list zoco">

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #572d2d;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #572d2d 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_zoco_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                zoco alpes for exreior
              </h4>
              <p class="product-item__des">sơn phủ ngoại thất, bóng cao cấp</p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #54575a;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #54575a 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_zoco_2.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                zoco fansipan for exreior
              </h4>
              <p class="product-item__des">sơn phủ ngoại thất láng mịn</p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #D2A601;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #D2A601 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_zoco_3.png" alt="home_zoco_1">
              </div>
              <h4 class="product-item__title">
                zoco evereste for exterior
              </h4>
              <p class="product-item__des">sơn phủ kháng nóng ngoại thất</p>
            </div>

            <div class="product-item">
              <div class="product-item__bg cody"></div>
              <div style="background: #d11973;" class="product-item__bg product-item__bg_opacity"></div>
              <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #d11973 85%);" class="product-item__bg product-item__bg_gradient"></div>

              <div class="product-item__img">
                <img src="/public/img/home_zoco_4.png" alt="home_zoco_1">
              </div>
              <h4 class="product-item__title">
                zoco hymalayah for exterior
              </h4>
              <p class="product-item__des">sơn phủ chống thấm</p>
            </div>

          </div>

        </div>

      </div>
    </section>

    <section class="color_select">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-5">
            <div class="color_select__slider">
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
              <div class="color_select_item">
                <img src="/public/img/home_color_select_item.jpg" alt="color_select">
              </div>
            </div>
          </div>

          <div class="col-md-7">
            <div class="color_select__content">
              <h3 class="color_select__title">
                Góc phối màu
              </h3>
              <div class="color_select__des">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using 'Content here
              </div>
              <div class="color_select__selector">

                <div class="color_select__selector_title">
                  <h4>featured colours:</h4>
                  <p>blended neutrals</p>
                </div>
                <div class="color_select__selector_content">
                  <button data-index="0" class="color_select__selector__item color_select__selector__item_1">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                  <button data-index="1" class="color_select__selector__item color_select__selector__item_2">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                  <button data-index="2" class="color_select__selector__item color_select__selector__item_3">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                  <button data-index="3" class="color_select__selector__item color_select__selector__item_4">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                  <button data-index="4" class="color_select__selector__item color_select__selector__item_5">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                  <button data-index="5" class="color_select__selector__item color_select__selector__item_6">
                    <svg width="82" height="71" viewBox="0 0 82 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M61.3134 0H20.3267L0 35.2682L20.3267 70.5364H61.3134L81.6401 35.2682L61.3134 0Z" fill="currentcolor" />
                    </svg>
                  </button>
                </div>



              </div>

              <button class="color_select__btn oexpo-btn">
                bảng màu
                <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                  <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                    stroke-width="2" />
                </svg>
              </button>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="color_info color_info_online">
      <div class="color_info__wrapper">
        <div class="color_info__img"></div>
        <div class="color_info__info">
          <div class="color_info__info__wrapper">
            <h4 class="color_info__title">
              BẢNG MÀU ONLINE
            </h4>
            <p class="color_info__des">
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
              of
              letters, as opposed to using 'Content here
            </p>
            <button class="color_info__btn oexpo-btn white">
              XEM THÊM
              <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                  stroke-width="2" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="color_info color_info_phongthuy">
      <div class="color_info__wrapper">
        <div class="color_info__info">
          <div class="color_info__info__wrapper">
            <h4 class="color_info__title">
              phong thuỷ
            </h4>
            <p class="color_info__des">
              It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
              of
              letters, as opposed to using 'Content here
            </p>
            <button class="color_info__btn oexpo-btn white">
              XEM THÊM
              <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                  stroke-width="2" />
              </svg>
            </button>
          </div>
        </div>
        <div class="color_info__img"></div>
      </div>
    </section>

    <section class="home_news">
      <div class="container">
        <h3 class="home_news__title">
          TIN TỨC - SỰ KIỆN
        </h3>

        <div class="home_news__content">
          <div class="home_news__item__wrapper">
            <div class="home_news__item">
              <div class="home_news__item__img">
                <img src="/public/img/home_news__item_1.jpg" alt="home_news__item">
              </div>
              <div class="home_news__item__info">
                <h5 class="home_news__item__title">
                  Lorem ipsum dolor sit amet consectetur adipiscing...
                </h5>
                <p class="home_news__item__des">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum fermentum risus id
                  vehicula. In eget blandit purus, a fringilla...
                </p>
                <a class="home_news__item__btn" href="/">
                  <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                    <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                      stroke-width="2" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="home_news__item__wrapper">
            <div class="home_news__item">
              <div class="home_news__item__img">
                <img src="/public/img/home_news__item_2.jpg" alt="home_news__item">
              </div>
              <div class="home_news__item__info">
                <h5 class="home_news__item__title">
                  Lorem ipsum dolor sit amet consectetur adipiscing...
                </h5>
                <p class="home_news__item__des">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum fermentum risus id
                  vehicula. In eget blandit purus, a fringilla...
                </p>
                <a class="home_news__item__btn" href="/">
                  <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                    <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                      stroke-width="2" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="home_news__item__wrapper">
            <div class="home_news__item">
              <div class="home_news__item__img">
                <img src="/public/img/home_news__item_3.jpg" alt="home_news__item">
              </div>
              <div class="home_news__item__info">
                <h5 class="home_news__item__title">
                  Lorem ipsum dolor sit amet consectetur adipiscing...
                </h5>
                <p class="home_news__item__des">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum fermentum risus id
                  vehicula. In eget blandit purus, a fringilla...
                </p>
                <a class="home_news__item__btn" href="/">
                  <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                    <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                      stroke-width="2" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="home_news__item__wrapper">
            <div class="home_news__item">
              <div class="home_news__item__img">
                <img src="/public/img/home_news__item_1.jpg" alt="home_news__item">
              </div>
              <div class="home_news__item__info">
                <h5 class="home_news__item__title">
                  Lorem ipsum dolor sit amet consectetur adipiscing...
                </h5>
                <p class="home_news__item__des">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin fermentum fermentum risus id
                  vehicula. In eget blandit purus, a fringilla...
                </p>
                <a class="home_news__item__btn" href="/">
                  <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2" />
                    <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                      stroke-width="2" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="home_map" data-map data-icon="/public/img/map-icon.svg">
      <div class="home_map__form">
        <div class="home_map__search">
          <h3 class="text-center">
            tìm kiếm đại lý gần nhất
          </h3>
          <div class="form-group position-relative">
            <svg width="14" height="7" aria-hidden="true" title="Select control">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sellect_cavet"></use>
            </svg>
            <select name="provinces" id="provinces" data-provinces class="form-control"></select>
          </div>

          <div class="form-group position-relative">
            <svg width="14" height="7" aria-hidden="true" title="Select control">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sellect_cavet"></use>
            </svg>
            <select name="cities" id="districts" data-districts class="form-control"></select>
          </div>
        </div>
        <div class="home_map__results">
          <ul id="listStore"></ul>
        </div>
      </div>
      <div data-canvas id="map_canvas"></div>
    </section>
  </main>
  <% include ../partials/footer %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&language=vi-VN&key=AIzaSyBdwtJZ78s0i-9X641rAyaBtodDGRxPCr0"
    type="text/javascript"></script>
  <script type="text/javascript" src="dist/home.js"></script>
</body>

</html>
