<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="dist/product.css" />
</head>

<body>
  <% include ../partials/header %>
  <main class="product__page">
    <section class="product__banner page__title">
      <img class="w-100" src="/public/img/category__banner.jpg" alt="product__banner">
      <div class="page__title__wrapper">
        <div class="container">
          <h1 class="page__title__text">
            sản phẩm <br>
            OEXPO ZOCO
          </h1>
        </div>
      </div>
    </section>

    <nav class="product__nav oexpo__nav">
      <div class="container">
        <ul class=" oexpo__nav__list">
          <li class=" oexpo__nav__item">
            <a href="/" title="news__nav__item active">
              Sơn Lót
            </a>
          </li>
          <li class=" oexpo__nav__item ">
            <a href="/" title="news__nav__item">
              bột trét
            </a>
          </li>
          <li class=" oexpo__nav__item">
            <a href="/" title="news__nav__item">
              sơn dầu
            </a>
          </li>
          <li class=" oexpo__nav__item">
            <a href="/" title="news__nav__item">
              sơn chống thấm
            </a>
          </li>
          <li class=" oexpo__nav__item">
            <a href="/" title="news__nav__item">
              sơn nội thất
            </a>
          </li>
          <li class=" oexpo__nav__item">
            <a href="/" title="news__nav__item">
              sơn ngoại thất
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="product__content container">
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="product__image">
            <div class="product__image__bg" style="background: linear-gradient(180deg, 
            rgba(230,35,74,0) 0%, 
            rgba(230,35,74,0.3) 56.21%, 
            rgba(230,35,74,1) 86.69%, 
            rgba(230,35,74,0) 99.11%);
            "></div>
            <img class="product__image__img" src="/public/img/product__image__img.png" alt="product__image__img">
          </div>
          <a class="product__image__btn oexpo-btn black link" target="_blank" href="/contact">
            Tìm cửa hàng gần nhất
            <svg width="26" height="15" viewBox="0 0 26 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.3967 14L23.9999 7.56455L17.2643 0.999999" stroke="currentcolor" stroke-width="2"></path>
              <line y1="-1" x2="23.894" y2="-1" transform="matrix(-1 0 0 1 23.894 8.41138)" stroke="currentcolor"
                stroke-width="2"></line>
            </svg>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="product__info">
            <h1 class="product__name">Alkali for interior <br /> sơn lót chống kiềm trong nhà </h1>
            <div class="product__description">
              <p>
                Sơn lót chống kiềm trong nhà là lại sơn lót trong nhà có khả năng kháng kiềm hoá trên bề mặt tường,
                đồng
                thời làm tăng độ bám dính, tăng độ bền màu cho lớp sơn hoàn thiện, ít hao sơn phủ, dễ thi công sơn phủ.
              </p>
              <strong>
                Đặc tính:
              </strong>
              <ul>
                <li>
                  Loại sơn: Mờ
                </li>
                <li>
                  Màu sắc: Trắng xanh
                </li>
                <li>
                  Độ phủ tuỳ theo bề mặt: 09 - 11m2/L/Lớp ( đã pha loãng)
                </li>
              </ul>
            </div>
            <div class="product_feature">
              <strong class="product_feature__title">
                Đặc tính:
              </strong>
              <div class="product_feature__list row">

                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_1.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Sơn cọ
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_2.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Sơn lăn
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_3.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Bảng màu
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_4.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Thời gian sơn khô: 2 Giờ
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_5.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Thời gian sơn lớp mới: 2 Phút
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="product_feature__item">
                    <div class="product_feature__icon">
                      <img src="/public/img/product_feature_6.svg" alt="product_feature_1">
                    </div>
                    <div class="product_feature__des">
                      Chuẩn bị: Nước
                    </div>
                  </div>
                </div>

              </div>


            </div>

          </div>
        </div>
      </div>
    </div>

    <section class="product__similar">
      <div class="container">
        <h3 class="product__similar__title">
          <span>sản phẩm tương tự</span>
        </h3>
        <div class="product__similar__list">
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                      background: linear-gradient(180deg,
                       rgba(210,166,1,0) 0%, 
                       rgba(210,166,1,0.1) 40%,
                       rgba(210,166,1,0.3) 55%, 
                       rgba(210,166,1,1) 65%, 
                       rgba(210,166,1,0.1) 75%,
                       rgba(210,166,1,0) 80%,
                       rgba(210,166,1,0) 100%);
                       "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                      background: linear-gradient(180deg,
                       rgba(210,166,1,0) 0%, 
                       rgba(210,166,1,0.5) 40%,
                       rgba(210,166,1,0.7) 55%, 
                       rgba(210,166,1,1) 65%, 
                       rgba(210,166,1,0.3) 75%,
                       rgba(210,166,1,0.1) 80%,
                       rgba(210,166,1,0) 100%);
                       "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                        background: linear-gradient(180deg,
                         rgba(210,166,1,0) 0%, 
                         rgba(210,166,1,0.1) 40%,
                         rgba(210,166,1,0.3) 55%, 
                         rgba(210,166,1,1) 65%, 
                         rgba(210,166,1,0.1) 75%,
                         rgba(210,166,1,0) 80%,
                         rgba(210,166,1,0) 100%);
                         "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                        background: linear-gradient(180deg,
                         rgba(210,166,1,0) 0%, 
                         rgba(210,166,1,0.5) 40%,
                         rgba(210,166,1,0.7) 55%, 
                         rgba(210,166,1,1) 65%, 
                         rgba(210,166,1,0.3) 75%,
                         rgba(210,166,1,0.1) 80%,
                         rgba(210,166,1,0) 100%);
                         "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                          background: linear-gradient(180deg,
                           rgba(210,166,1,0) 0%, 
                           rgba(210,166,1,0.1) 40%,
                           rgba(210,166,1,0.3) 55%, 
                           rgba(210,166,1,1) 65%, 
                           rgba(210,166,1,0.1) 75%,
                           rgba(210,166,1,0) 80%,
                           rgba(210,166,1,0) 100%);
                           "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                          background: linear-gradient(180deg,
                           rgba(210,166,1,0) 0%, 
                           rgba(210,166,1,0.5) 40%,
                           rgba(210,166,1,0.7) 55%, 
                           rgba(210,166,1,1) 65%, 
                           rgba(210,166,1,0.3) 75%,
                           rgba(210,166,1,0.1) 80%,
                           rgba(210,166,1,0) 100%);
                           "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                            background: linear-gradient(180deg,
                             rgba(210,166,1,0) 0%, 
                             rgba(210,166,1,0.1) 40%,
                             rgba(210,166,1,0.3) 55%, 
                             rgba(210,166,1,1) 65%, 
                             rgba(210,166,1,0.1) 75%,
                             rgba(210,166,1,0) 80%,
                             rgba(210,166,1,0) 100%);
                             "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                            background: linear-gradient(180deg,
                             rgba(210,166,1,0) 0%, 
                             rgba(210,166,1,0.5) 40%,
                             rgba(210,166,1,0.7) 55%, 
                             rgba(210,166,1,1) 65%, 
                             rgba(210,166,1,0.3) 75%,
                             rgba(210,166,1,0.1) 80%,
                             rgba(210,166,1,0) 100%);
                             "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                              background: linear-gradient(180deg,
                               rgba(210,166,1,0) 0%, 
                               rgba(210,166,1,0.1) 40%,
                               rgba(210,166,1,0.3) 55%, 
                               rgba(210,166,1,1) 65%, 
                               rgba(210,166,1,0.1) 75%,
                               rgba(210,166,1,0) 80%,
                               rgba(210,166,1,0) 100%);
                               "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                              background: linear-gradient(180deg,
                               rgba(210,166,1,0) 0%, 
                               rgba(210,166,1,0.5) 40%,
                               rgba(210,166,1,0.7) 55%, 
                               rgba(210,166,1,1) 65%, 
                               rgba(210,166,1,0.3) 75%,
                               rgba(210,166,1,0.1) 80%,
                               rgba(210,166,1,0) 100%);
                               "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
          <div class="product__similar__item">
            <div class="product-item product-item--category">
              <div class="product-item__color-gradient" style="background: #D2A601;
                                background: linear-gradient(180deg,
                                 rgba(210,166,1,0) 0%, 
                                 rgba(210,166,1,0.1) 40%,
                                 rgba(210,166,1,0.3) 55%, 
                                 rgba(210,166,1,1) 65%, 
                                 rgba(210,166,1,0.1) 75%,
                                 rgba(210,166,1,0) 80%,
                                 rgba(210,166,1,0) 100%);
                                 "></div>

              <div class="product-item__color-gradient product-item__color-gradient__active" style="background: #D2A601;
                                background: linear-gradient(180deg,
                                 rgba(210,166,1,0) 0%, 
                                 rgba(210,166,1,0.5) 40%,
                                 rgba(210,166,1,0.7) 55%, 
                                 rgba(210,166,1,1) 65%, 
                                 rgba(210,166,1,0.3) 75%,
                                 rgba(210,166,1,0.1) 80%,
                                 rgba(210,166,1,0) 100%);
                                 "></div>

              <div class="product-item__img">
                <img src="/public/img/home_cody_1.png" alt="home_cody_1">
              </div>
              <h4 class="product-item__title">
                cody umax x10
              </h4>
              <p class="product-item__des">sơn giảm nóng chống thấm</p>
            </div>
          </div>
        </div>
      </div>


    </section>

  </main>
  <% include ../partials/footer %>
  <script type="text/javascript" src="dist/product.js"></script>
</body>

</html>
