.search_form {
  border: 1px solid $black;
  box-sizing: border-box;
  max-width: 320px;
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: $font_size_base;
  color: #333333;

  &__input {
    border-radius: 0;
    height: em(40px, $font_size_base);
  }

  &__btn {
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: $black;
    width: em(49px);
  }
}
