// size
$fullWidth: 100%;

// font
$font: 'Montserrat';
$title: 'Montserrat';

// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;


// web color
$main_color: #396DA0;
$second_color: #A92527;
$text_color: $black;
$title_color: $black;
$border_color: #E2E2E2;
$web_bg: #E5E5E5;

// home 


@import './mixin.scss';
