<footer class="footer_oexpo">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer_oexpo__logo">
          <img src="/public/img/oexpo-white.svg" alt="">
        </div>
        <div class="footer_oexpo__copy_right">
          Copyright © 2018. BCA Studio All Rights Reserved
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <h4 class="footer_oexpo__title">
              về chúng tôi
            </h4>
            <ul class="footer_oexpo__content">
              <li class="footer_oexpo__item">
                <a title="footer_oexpo" href="/">
                  Thông tin Oexpo
                </a>
              </li>
              <li class="footer_oexpo__item">
                <a title="footer_oexpo" href="/">
                  Sản phẩm
                </a>
              </li>
              <li class="footer_oexpo__item">
                <a title="footer_oexpo" href="/">
                  Sắc màu
                </a>
              </li>
              <li class="footer_oexpo__item">
                <a title="footer_oexpo" href="/">
                  Cửa hàng
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md-7">
            <h4 class="footer_oexpo__title">
              Dịch vụ khách hàng
            </h4>
            <div class="row">
              <div class="col-6">
                <ul class="footer_oexpo__content">
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Tư vấn phối màu
                    </a>
                  </li>
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Kiến trúc mẫu
                    </a>
                  </li>
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Hổ trợ
                    </a>
                  </li>
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Dịch vụ bảo hành
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <ul class="footer_oexpo__content">
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Liên hệ
                    </a>
                  </li>
                  <li class="footer_oexpo__item">
                    <a title="footer_oexpo" href="/">
                      Tuyển dụng
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h4 class="footer_oexpo__title">
          SOCIAL
        </h4>
        <ul class="footer_oexpo__socials">
          <li>
            <a href="/" title="oexpo-social">
              <img src="/public/img/oexpo_social_fb.svg" alt="footer_oexpo__title">
            </a>
          </li>
          <li>
            <a href="/" title="oexpo-social">
              <img src="/public/img/oexpo_social_youtube.svg" alt="footer_oexpo__title">
            </a>
          </li>
          <li>
            <a href="/" title="oexpo-social">
              <img src="/public/img/oexpo_social_instagram.svg" alt="footer_oexpo__title">
            </a>
          </li>
          <li>
            <a href="/" title="oexpo-social">
              <img src="/public/img/oexpo_social_zalo.svg" alt="footer_oexpo__title">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<div class="modal fade toast_modal" id="toast_modal" tabindex="-1" role="dialog" aria-labelledby="toast_modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="toast_modal__message">
          Đăng ký thành công
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="dist/common.js"></script>

<% include ./svg %>
