<svg xmlns="http://www.w3.org/2000/svg" style="width:0;height:0;position:absolute" visibility="hidden">


  <symbol viewBox="0 0 18 18" id="icon-arrow-down">
    <title>icon-4-oranges</title>
    <path d="M18 3h-1.3L9 13.9 1.3 3H0l8.6 12h.8L18 3z"></path>
  </symbol>

  <symbol width="197" height="41" id="icon-about-logo-cody" viewBox="0 0 197 41" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>about cody logo</title>
    <path d="M22.844 40.9864C16.8266 40.9864 11.8493 39.485 7.91196 36.5574C5.60901 34.8309 3.6775 32.654 2.3403 30.1017C0.854529 27.2492 0.0373535 23.9463 0.0373535 20.4932C0.0373535 15.6889 1.44884 11.4852 4.19752 7.95706C8.35769 2.7024 14.5979 0 22.844 0C25.8155 0 28.4156 0.300266 30.57 0.975866C32.7244 1.5764 35.3988 2.85253 38.5189 4.65413C39.0389 4.9544 39.4104 5.10453 39.6332 5.25466L40.0047 5.4048L41.1933 4.35386L44.7592 6.83106L37.7017 17.5656L34.3587 15.3136C34.433 14.8632 34.5073 14.0375 34.5073 13.9624V13.6621L34.2845 13.512C33.913 13.2117 33.3187 12.8364 32.5758 12.386C29.8271 10.8096 26.8556 10.0589 23.8097 10.0589C20.2439 10.0589 17.4209 10.9597 15.4151 12.6863C12.9636 14.7131 11.8493 17.2653 11.8493 20.5683C11.8493 23.8712 12.9636 26.3484 15.4151 28.4503C17.4209 30.1768 20.2439 31.0776 23.8097 31.0776C26.8556 31.0776 29.8271 30.2518 32.5758 28.7505C33.5416 28.15 34.0616 27.7746 34.2845 27.6245L34.5073 27.3993V27.099C34.5073 27.099 34.433 26.2733 34.3587 25.8229L37.7017 23.4959L44.8335 34.3054L41.2676 36.7826L40.1533 35.7317L39.7818 35.9569C39.4847 36.107 39.1132 36.3322 38.6675 36.6325C35.5474 38.4341 32.873 39.7102 30.7186 40.3108C28.4156 40.6861 25.8155 40.9864 22.844 40.9864Z"
      fill="currentcolor" />
    <path d="M71.7259 40.9864C65.1143 40.9864 59.7655 39.1097 55.8282 35.4314C53.6738 33.4046 52.0394 31.0025 50.9251 28.225C49.9594 25.7479 49.4393 23.1956 49.4393 20.4932C49.4393 16.5897 50.4794 12.9115 52.4852 9.60853C56.3482 3.378 62.8113 0.150133 71.6517 0C78.3376 0 83.6864 1.87667 87.698 5.55493C91.9325 9.45839 94.0869 14.5629 94.0869 20.7184C94.0869 24.4717 93.0468 28.0749 91.041 31.3778C87.1037 37.7585 80.5663 40.9864 71.7259 40.9864ZM71.7259 9.98386C68.903 9.98386 66.4515 10.8096 64.5942 12.5361C62.3656 14.5629 61.2512 17.1152 61.2512 20.4932C61.2512 23.7961 62.3656 26.4235 64.5942 28.4503C66.4515 30.1017 68.903 31.0025 71.8002 31.0025C74.6975 31.0025 77.0747 30.1768 78.932 28.4503C80.0463 27.4744 80.8635 26.1982 81.4578 24.772C81.9778 23.4959 82.2749 22.0696 82.2749 20.7184C82.2749 17.2653 81.1606 14.638 78.932 12.6863C77.0747 10.8847 74.6232 10.0589 71.7259 9.98386Z"
      fill="currentcolor" />
    <path d="M102.853 40.3858V36.0319L104.487 35.5815V13.0615H116.151V30.477H123.877C127.294 30.477 129.077 29.8764 129.894 29.4261C132.568 27.9247 133.906 24.9971 133.906 20.4181C133.906 17.1151 133.163 14.5629 131.677 12.9114C130.934 12.0106 129.968 11.4101 128.854 11.0347C127.665 10.6594 125.957 10.4342 123.802 10.4342H114.739H114.145H104.413V5.40473L102.779 4.95433V0.600464H124.471C129.003 0.600464 132.643 1.12593 135.169 2.25193C138.957 3.9034 141.706 6.60579 143.563 10.3591C144.975 13.2117 145.643 16.5897 145.643 20.4181C145.643 27.1741 143.489 32.4287 139.329 36.0319C137.546 37.6083 135.466 38.6592 133.088 39.3348C130.786 39.9354 127.963 40.3107 124.471 40.3107H102.853V40.3858Z"
      fill="currentcolor" />
    <path d="M167.187 40.3858V36.0319L168.896 35.5815V24.0963L157.826 8.33233C156.638 6.68086 156.118 6.08033 155.821 5.85513C155.524 5.62993 155.226 5.47979 154.855 5.40473L153.072 5.17953V0.600464H170.976V5.10446L169.49 5.32966L174.69 13.1366L180.039 5.32966L178.553 5.10446V0.600464H196.159V5.17953L194.451 5.40473C194.005 5.47979 193.708 5.62993 193.411 5.85513C193.188 6.08033 192.594 6.68086 191.405 8.33233L180.559 24.0213V35.9568L177.587 40.3858H167.187Z"
      fill="currentcolor" />
  </symbol>

  <symbol width="179" height="93" id="icon-about-logo-zoco" viewBox="0 0 179 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>about zoco logo</title>
    <path d="M47.9399 11.3527L48.0174 0H0V11.9085H30.3594L0.0774474 81.2158L0 92.5686H48.0174V80.6601H17.7355L47.9399 11.3527Z"
      fill="#0B2944" />
    <path d="M154.352 27.9452H166.279C169.532 27.9452 172.32 29.3742 174.644 32.1529C176.967 34.9315 178.129 38.2659 178.129 42.156V77.4845C178.129 81.3746 176.967 84.6295 174.644 87.4876C172.32 90.2662 169.532 91.6952 166.279 91.6952H154.352C151.1 91.6952 148.312 90.3456 145.988 87.567C143.665 84.7883 142.426 81.4539 142.426 77.5638V42.0766C142.426 38.1865 143.587 34.8521 145.988 32.0735C148.312 29.2948 151.1 27.9452 154.352 27.9452ZM154.352 42.0766V77.4051C154.352 79.3104 154.972 80.9776 156.134 82.4066C157.295 83.8356 158.689 84.5501 160.316 84.5501C161.942 84.5501 163.414 83.8356 164.575 82.4066C165.737 80.9776 166.357 79.3104 166.357 77.4051V42.0766C166.357 40.0918 165.737 38.4247 164.575 36.9956C163.414 35.646 162.02 34.9315 160.316 34.9315C158.689 34.9315 157.295 35.646 156.134 36.9956C154.895 38.4247 154.352 40.0918 154.352 42.0766Z"
      fill="#0B2944" />
    <path d="M67.9213 27.9452H79.8482C83.101 27.9452 85.8891 29.3742 88.2125 32.1529C90.5359 34.9315 91.6976 38.2659 91.6976 42.156V77.4845C91.6976 81.3746 90.5359 84.6295 88.2125 87.4876C85.8891 90.2662 83.101 91.6952 79.8482 91.6952H67.9213C64.6685 91.6952 61.8804 90.3456 59.557 87.567C57.2335 84.7883 55.9944 81.4539 55.9944 77.5638V42.0766C55.9944 38.1865 57.1561 34.8521 59.557 32.0735C61.8804 29.2948 64.6685 27.9452 67.9213 27.9452ZM67.9213 42.0766V77.4051C67.9213 79.3104 68.5409 80.9776 69.7026 82.4066C70.8643 83.8356 72.2583 84.5501 73.8847 84.5501C75.5111 84.5501 76.9826 83.8356 78.1443 82.4066C79.3061 80.9776 79.9256 79.3104 79.9256 77.4051V42.0766C79.9256 40.0918 79.3061 38.4247 78.1443 36.9956C76.9826 35.646 75.5886 34.9315 73.8847 34.9315C72.2583 34.9315 70.8643 35.646 69.7026 36.9956C68.4634 38.4247 67.9213 40.0918 67.9213 42.0766Z"
      fill="#0B2944" />
    <path d="M123.916 73.3561V77.405C123.916 79.3103 123.296 80.9775 122.135 82.4065C120.973 83.8356 119.579 84.5501 117.875 84.5501C116.249 84.5501 114.854 83.8356 113.693 82.4065C112.531 80.9775 111.911 79.3103 111.911 77.405V42.0765C111.911 40.0918 112.531 38.4246 113.693 36.9956C114.854 35.6459 116.249 34.9314 117.875 34.9314C119.501 34.9314 120.973 35.6459 122.135 36.9956C123.296 38.3452 123.916 40.0918 123.916 42.0765V46.1254H135.765V42.0765C135.765 38.1864 134.604 34.9314 132.28 32.0734C129.957 29.2947 127.169 27.8657 123.916 27.8657H111.989C108.736 27.8657 105.948 29.2153 103.625 31.994C101.301 34.7726 100.062 38.107 100.062 41.9971V77.3256C100.062 81.2157 101.224 84.5501 103.625 87.3287C105.948 90.1074 108.736 91.457 111.989 91.457H123.916C127.169 91.457 129.957 90.028 132.28 87.2493C134.604 84.4707 135.765 81.1363 135.765 77.2462V73.1973H123.916V73.3561Z"
      fill="#0B2944" />
  </symbol>


  <symbol width="283" height="48" viewBox="0 0 283 48" id="icon-about-logo-xix" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>about xix logo</title>
    <path d="M40.7639 34.854V12.2865C40.7639 10.3471 40.2708 8.76029 39.449 7.52612H63.2826L68.0493 13.168H52.1055V20.2204H58.5159V26.2149H52.1055V34.5014H67.3919L63.2826 39.6144H39.449C39.6133 39.2617 39.9421 38.7328 40.2708 37.8513C40.5996 36.9697 40.7639 35.9119 40.7639 34.854Z"
      fill="currentcolor" />
    <path d="M40.4349 38.9088C40.5993 38.7325 40.5993 38.3799 40.7637 38.0273C41.0924 37.1457 41.2568 36.0879 41.2568 34.8537V12.2862C41.2568 10.6994 40.928 9.28893 40.4349 8.23108H62.9536L66.5698 12.6388H51.2834V20.9253H57.6938V25.6857H51.2834V35.2063H65.9123L62.7893 38.9088H40.4349Z"
      fill="currentcolor" />
    <path d="M103.718 34.854V12.2865C103.718 10.3471 103.224 8.76028 102.403 7.52612H124.921C127.387 7.52612 129.359 8.05505 130.839 8.93659C132.154 9.81814 132.975 11.5812 132.975 14.2259V21.4545C132.975 23.2176 132.647 24.6281 131.989 25.5096C131.332 26.5675 130.345 27.0964 129.195 27.449C128.044 27.8016 126.729 27.9779 125.086 27.9779H115.223V34.6777C115.223 36.6171 115.717 38.2038 116.538 39.438H102.731C102.896 39.0854 103.224 38.5565 103.553 37.6749C103.718 37.146 103.718 36.0881 103.718 34.854ZM115.059 22.865H120.812C121.798 22.865 122.456 22.6887 122.784 22.5124C123.113 22.3361 123.442 21.9834 123.606 21.4545C123.771 20.9256 123.771 20.2204 123.771 19.1625V15.8126C123.771 14.7548 123.606 14.0495 123.278 13.5206C122.949 12.9917 122.456 12.8154 121.47 12.8154H115.059V22.865Z"
      fill="currentcolor" />
    <path d="M103.553 38.9089C103.717 38.7326 103.717 38.38 103.882 38.0274C104.211 37.1459 104.375 36.088 104.375 34.6775V12.2863C104.375 10.6995 104.046 9.28905 103.553 8.2312H124.921C127.387 8.2312 129.195 8.58382 130.51 9.46536C131.66 10.1706 132.318 11.9337 132.318 14.2257V21.4544C132.318 23.0411 131.989 24.2753 131.496 25.1569C130.839 26.0384 130.181 26.5673 129.03 26.9199C127.88 27.2726 126.565 27.4489 125.086 27.4489H114.73V34.8538C114.73 36.4406 115.059 37.8511 115.552 38.9089H103.553ZM114.566 23.3938H120.976C121.963 23.3938 122.784 23.2175 123.277 23.0411C123.771 22.6885 124.264 22.1596 124.264 21.6307C124.428 21.1018 124.428 20.2202 124.428 19.1624V15.8125C124.428 14.5783 124.264 13.6968 123.935 13.1678C123.442 12.6389 122.784 12.2863 121.634 12.2863H114.73V23.3938H114.566Z"
      fill="currentcolor" />
    <path d="M142.18 7.52612H159.439C160.754 7.52612 161.905 7.70243 162.891 8.23136C163.877 8.58398 164.699 9.28921 165.192 10.1708C165.849 11.0523 166.343 11.9338 166.507 12.9917C166.836 14.0496 167 15.2837 167 16.6942V30.4463C167 31.8568 166.836 33.0909 166.671 34.1488C166.507 35.2066 166.014 36.2645 165.356 36.9697C164.534 37.8513 163.713 38.5565 162.726 38.9091C161.74 39.2617 160.59 39.6144 159.439 39.6144H142.18C139.55 39.6144 137.578 38.7328 136.427 37.146C135.112 35.5593 134.619 33.2672 134.619 30.4463V16.6942C134.619 15.2837 134.784 14.0496 134.948 12.9917C135.112 11.9338 135.605 10.876 136.263 10.1708C137.085 9.28921 137.907 8.58398 138.893 8.23136C139.879 7.87874 141.03 7.52612 142.18 7.52612ZM145.796 16.5179V30.4463C145.796 31.3278 145.796 32.2094 145.961 32.7383C146.125 33.2672 146.289 33.6199 146.783 33.9725C147.276 34.1488 147.933 34.3251 148.755 34.3251H152.864C153.686 34.3251 154.344 34.1488 154.837 33.9725C155.33 33.7962 155.494 33.2672 155.658 32.7383C155.823 32.2094 155.823 31.5041 155.823 30.4463V16.5179C155.823 15.6363 155.823 14.7548 155.658 14.2259C155.494 13.6969 155.33 13.3443 154.837 12.9917C154.344 12.9917 153.686 12.8154 152.864 12.8154H148.755C147.933 12.8154 147.276 12.9917 146.783 13.168C146.289 13.3443 146.125 13.8732 145.961 14.4022C145.961 14.9311 145.796 15.6363 145.796 16.5179Z"
      fill="currentcolor" />
    <path d="M142.18 38.909C139.715 38.909 137.907 38.2038 136.92 36.7933C135.77 35.3829 135.277 33.0908 135.277 30.4462V16.6941C135.277 15.2836 135.441 14.0495 135.605 13.1679C135.77 12.1101 136.263 11.4048 136.756 10.6996C137.413 9.99437 138.235 9.28914 139.221 8.93652C140.208 8.5839 141.194 8.40759 142.345 8.40759H159.439C160.754 8.40759 161.74 8.5839 162.726 8.93652C163.548 9.28914 164.37 9.81806 164.863 10.5233C165.356 11.2285 165.849 12.1101 166.178 13.1679C166.507 14.2258 166.507 15.4599 166.507 16.6941V30.4462C166.507 31.8567 166.343 33.0908 166.178 34.1487C166.014 35.2065 165.521 35.9118 165.028 36.617C164.37 37.3223 163.548 38.0275 162.562 38.3801C161.576 38.7327 160.59 38.909 159.439 38.909H142.18ZM148.755 12.1101C147.769 12.1101 147.111 12.2864 146.454 12.639C145.796 12.9916 145.468 13.5206 145.303 14.2258C145.139 14.7547 145.139 15.6363 145.139 16.5178V30.4462C145.139 31.5041 145.139 32.2093 145.303 32.7382C145.468 33.4435 145.796 33.9724 146.454 34.325C146.947 34.6776 147.769 34.8539 148.755 34.8539H152.864C153.85 34.8539 154.508 34.6776 155.165 34.325C155.823 33.9724 156.152 33.4435 156.316 32.7382C156.48 32.2093 156.48 31.3277 156.48 30.4462V16.5178C156.48 15.4599 156.48 14.7547 156.316 14.2258C156.152 13.5206 155.823 12.9916 155.165 12.639C154.508 12.2864 153.85 12.1101 152.864 12.1101H148.755Z"
      fill="currentcolor" />
    <path d="M8.38287 43.1406C5.42421 43.1406 3.45177 42.259 2.13681 40.496C0.65748 38.5566 0 35.9119 0 32.5621V14.5785C0 12.8154 0.16437 11.2287 0.32874 9.99451C0.49311 8.76034 0.98622 7.70249 1.6437 6.99725C2.46555 6.11571 3.45177 5.41047 4.60236 4.88154C5.75295 4.17631 7.06791 4 8.38287 4H29.9153C31.8878 4 33.5315 4.35262 34.6821 5.23416C35.8326 6.11571 36.8189 7.17356 37.312 8.76034C37.9695 10.3471 38.1338 12.2865 38.1338 14.5785V32.3857C38.1338 34.1488 37.9695 35.7356 37.8051 36.9698C37.6407 38.2039 37.1476 39.0855 36.4901 39.967C35.6683 40.8486 34.6821 41.7301 33.5315 42.0827C32.3809 42.6117 31.0659 42.788 29.9153 42.788H8.38287V43.1406ZM16.6014 8.23142C15.2864 8.23142 14.3002 8.40772 13.6427 8.93665C12.8209 9.46558 12.3277 10.3471 11.999 11.2287C11.8346 11.9339 11.6703 12.9918 11.6703 14.4022V32.7384C11.6703 34.1488 11.8346 35.2067 11.999 35.9119C12.1634 36.9698 12.8209 37.675 13.6427 38.2039C14.3002 38.7329 15.2864 38.9092 16.6014 38.9092H21.5325C22.8474 38.9092 23.8336 38.7329 24.4911 38.2039C25.313 37.675 25.8061 36.7935 26.1348 35.9119C26.2992 35.2067 26.4636 34.1488 26.4636 32.7384V14.4022C26.4636 12.9918 26.2992 11.9339 26.1348 11.2287C25.9704 10.1708 25.313 9.46558 24.4911 8.93665C23.8336 8.40772 22.8474 8.23142 21.5325 8.23142H16.6014Z"
      fill="currentcolor" />
    <path d="M8.38286 42.4351C5.75294 42.4351 3.7805 41.5535 2.62991 39.9667C1.31495 38.2037 0.657471 35.7353 0.657471 32.3855V14.5783C0.657471 12.9915 0.821841 11.4047 0.986211 10.1705C1.15058 9.11268 1.64369 8.05483 2.1368 7.34959C2.95865 6.46805 3.7805 5.76281 4.93109 5.41019C6.08168 4.88126 7.23227 4.70496 8.38286 4.70496H29.9153C31.7234 4.70496 33.2027 5.05757 34.3533 5.93912C35.5039 6.64435 36.3257 7.70221 36.8189 9.11268C37.312 10.6995 37.6407 12.4625 37.6407 14.7546V32.5618C37.6407 34.3249 37.4763 35.7353 37.312 37.1458C37.1476 38.2037 36.6545 39.0852 36.1614 39.9667C35.3395 40.8483 34.5177 41.5535 33.5315 41.9061C32.3809 42.4351 31.2303 42.6114 30.0797 42.6114H8.38286V42.4351ZM16.6014 7.5259C15.2864 7.5259 14.1358 7.70221 13.314 8.23113C12.3277 8.93637 11.6703 9.81792 11.3415 11.0521C11.1771 11.9336 11.0128 12.9915 11.0128 14.4019V32.7381C11.0128 34.1485 11.1771 35.2064 11.3415 36.0879C11.6703 37.3221 12.3277 38.2037 13.314 38.9089C14.1358 39.4378 15.2864 39.6141 16.6014 39.6141H21.5325C22.8474 39.6141 23.998 39.4378 24.8199 38.9089C25.8061 38.38 26.4635 37.3221 26.7923 36.0879C26.9567 35.2064 27.121 34.1485 27.121 32.7381V14.4019C27.121 12.9915 26.9567 11.9336 26.7923 11.0521C26.4635 9.81792 25.8061 8.93637 24.8199 8.23113C23.998 7.87852 23.0118 7.5259 21.5325 7.5259H16.6014Z"
      fill="currentcolor" />
    <path d="M90.4035 23.5702L101.581 39.7906H88.7598L83.3356 31.6804L90.4035 23.5702ZM74.4597 39.7906H66.0768L78.4045 24.8044L66.4055 7.52612H79.062L85.3081 16.5179L93.0335 7.52612H101.252L74.4597 39.7906Z"
      fill="currentcolor" />
    <path d="M89.0885 39.0853L84.1575 31.6803L90.4035 24.4516L100.43 39.0853H89.0885ZM67.3917 39.0853L79.2264 24.8042L67.5561 8.2312H78.7332L85.308 17.5756L93.3622 8.2312H99.937L74.1309 39.0853H67.3917Z"
      fill="currentcolor" />
    <path d="M202.845 40L196.32 30.235L189.885 40H179.715L191.19 24.07L180.21 8.5H190.245L196.545 17.59L202.755 8.5H212.385L201.405 23.71L213.105 40H202.845ZM217.417 8.5H226.327V40H217.417V8.5ZM254.806 40L248.281 30.235L241.846 40H231.676L243.151 24.07L232.171 8.5H242.206L248.506 17.59L254.716 8.5H264.346L253.366 23.71L265.066 40H254.806Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-menu-cavet" width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.42085 6.34396C4.2241 6.65066 3.7759 6.65066 3.57915 6.34396L0.163812 1.01997C-0.0496659 0.687196 0.189294 0.25 0.584661 0.25L7.41534 0.250001C7.81071 0.250001 8.04967 0.687197 7.83619 1.01998L4.42085 6.34396Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-close-menu" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M9.21875 8L15.6406 14.4219C15.7344 14.5625 15.7812 14.7031 15.7812 14.8438C15.7812 15.0312 15.7344 15.125 15.6406 15.2188L15.2188 15.6406C15.125 15.7344 14.9844 15.7812 14.8438 15.7812C14.6562 15.7812 14.5156 15.7344 14.4219 15.6406L8 9.17188L1.57812 15.6406C1.4375 15.7344 1.29688 15.7812 1.15625 15.7812C0.96875 15.7812 0.875 15.7344 0.78125 15.6406L0.359375 15.2188C0.265625 15.125 0.21875 15.0312 0.21875 14.8438C0.21875 14.7031 0.265625 14.5625 0.359375 14.4219L6.82812 8L0.359375 1.57812C0.265625 1.48438 0.21875 1.34375 0.21875 1.15625C0.21875 1.01562 0.265625 0.875 0.359375 0.78125L0.78125 0.359375C0.875 0.265625 0.96875 0.21875 1.15625 0.21875C1.29688 0.21875 1.4375 0.265625 1.57812 0.359375L8 6.78125L14.4219 0.359375C14.5156 0.265625 14.6562 0.21875 14.8438 0.21875C14.9844 0.21875 15.125 0.265625 15.2188 0.359375L15.6406 0.78125C15.7344 0.875 15.7812 1.01562 15.7812 1.15625C15.7812 1.34375 15.7344 1.48438 15.6406 1.57812L9.21875 8Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-search-form-mobile" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.6084 13.7175L12.1325 10.2417C12.114 10.2232 12.0924 10.2103 12.0731 10.1931C12.757 9.15561 13.1562 7.91371 13.1562 6.57816C13.1562 2.94512 10.2111 0 6.57809 0C2.94512 0 0 2.94512 0 6.57809C0 10.211 2.94506 13.1562 6.57803 13.1562C7.91364 13.1562 9.15549 12.757 10.193 12.0731C10.2102 12.0923 10.223 12.114 10.2415 12.1324L13.7175 15.6084C14.2396 16.1305 15.0862 16.1305 15.6084 15.6084C16.1305 15.0863 16.1305 14.2397 15.6084 13.7175ZM6.57809 10.8758C4.20448 10.8758 2.28035 8.95164 2.28035 6.57809C2.28035 4.20448 4.20454 2.28035 6.57809 2.28035C8.95158 2.28035 10.8758 4.20454 10.8758 6.57809C10.8758 8.95164 8.95158 10.8758 6.57809 10.8758Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-about_info_icon_1" width="52" height="49" viewBox="0 0 52 49" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M50.2556 1H9.00586C8.60312 1 8.27361 1.32951 8.27361 1.73224V16.1452C8.27361 16.548 8.60312 16.8775 9.00586 16.8775C9.40859 16.8775 9.7381 16.548 9.7381 16.1452V12.1545H16.731C17.1338 12.1545 17.4633 11.825 17.4633 11.4223V6.08909C17.4633 5.68636 17.1338 5.35685 16.731 5.35685H9.7381V2.46449H24.029V14.998C24.029 15.2543 24.1633 15.4862 24.383 15.6205C24.505 15.6937 24.627 15.7303 24.7613 15.7303C24.8711 15.7303 24.9932 15.7059 25.0908 15.6449L29.7161 13.2773L34.1584 15.6449C34.3903 15.7669 34.6588 15.7547 34.8784 15.6205C35.0981 15.4862 35.2324 15.2543 35.2324 14.9858V2.46449H49.5233V42.2497H14.7418C16.8287 39.1499 18.9155 35.2934 18.9155 32.1569C18.9155 27.2143 14.9004 23.1992 9.95777 23.1992C9.88455 23.1992 9.81133 23.1992 9.7381 23.1992V19.123C9.7381 18.7203 9.40859 18.3908 9.00586 18.3908C8.60312 18.3908 8.27361 18.7203 8.27361 19.123V23.3578C4.13644 24.1633 1 27.8123 1 32.1691C1 37.9417 9.05467 47.3266 9.39639 47.7171C9.53063 47.8758 9.7381 47.9734 9.94557 47.9734H9.95777C10.1652 47.9734 10.3605 47.888 10.507 47.7293C10.6412 47.5707 12.0691 45.9719 13.7166 43.7264H50.2678C50.6705 43.7264 51 43.3969 51 42.9941V1.73224C50.9878 1.32951 50.6583 1 50.2556 1ZM15.9866 6.83354V10.69H9.7381V6.83354H15.9866ZM33.7679 13.7776L30.07 11.8128C29.8626 11.703 29.6063 11.703 29.3866 11.8128L25.4935 13.8143V2.46449H33.7679V13.7776ZM9.96998 46.1062C8.15157 43.885 2.46449 36.587 2.46449 32.1691C2.46449 28.0442 5.8206 24.6881 9.94557 24.6881C14.0705 24.6881 17.4267 28.0442 17.4267 32.1691C17.4389 36.8921 11.7884 43.9583 9.96998 46.1062Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M9.86011 27.9709C7.66338 27.9709 5.86938 29.7527 5.86938 31.9617C5.86938 34.1584 7.65118 35.9402 9.86011 35.9402C12.069 35.9402 13.8386 34.1584 13.8386 31.9617C13.8386 29.7527 12.0568 27.9709 9.86011 27.9709ZM9.86011 34.4757C8.46885 34.4757 7.34608 33.3529 7.34608 31.9617C7.34608 30.5704 8.46885 29.4476 9.86011 29.4476C11.2514 29.4476 12.3741 30.5704 12.3741 31.9617C12.3741 33.3407 11.2392 34.4757 9.86011 34.4757Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M46.8506 28.093H25.8109C25.4081 28.093 25.0786 28.4225 25.0786 28.8253C25.0786 29.228 25.4081 29.5575 25.8109 29.5575H46.8506C47.2534 29.5575 47.5829 29.228 47.5829 28.8253C47.5829 28.4225 47.2534 28.093 46.8506 28.093Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M46.8507 32.7915H32.3278C31.9251 32.7915 31.5956 33.121 31.5956 33.5237C31.5956 33.9265 31.9251 34.256 32.3278 34.256H46.8507C47.2534 34.256 47.5829 33.9265 47.5829 33.5237C47.5829 33.121 47.2534 32.7915 46.8507 32.7915Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M46.8507 37.2827H27.373C26.9703 37.2827 26.6407 37.6122 26.6407 38.015C26.6407 38.4177 26.9703 38.7472 27.373 38.7472H46.8507C47.2534 38.7472 47.5829 38.4177 47.5829 38.015C47.5829 37.6122 47.2534 37.2827 46.8507 37.2827Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
  </symbol>

  <symbol id="icon-about_info_icon_2" width="39" height="54" viewBox="0 0 39 54" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32.2211 2.38079C28.8075 1.48583 24.2944 1 19.4872 1C14.6928 1 10.1669 1.48583 6.75328 2.38079C2.94333 3.37802 1 4.72046 1 6.3953V41.4008C1 41.8227 1.3452 42.1679 1.7671 42.1679C2.18901 42.1679 2.53421 41.8227 2.53421 41.4008V34.6887C3.45473 36.7854 4.75881 38.7288 6.43366 40.4036C9.93677 43.9195 14.5777 45.8628 19.5 45.8628C24.4223 45.8628 29.0632 43.9323 32.5663 40.4036C34.2412 38.7288 35.5453 36.7854 36.4658 34.6887V47.9724C36.4658 48.4582 35.4941 49.5449 31.8504 50.5038C28.5646 51.3604 24.1793 51.8335 19.5128 51.8335C14.8462 51.8335 10.461 51.3604 7.17519 50.5038C3.50587 49.5577 2.53421 48.471 2.53421 47.9724V44.5971C2.53421 44.1752 2.18901 43.83 1.7671 43.83C1.3452 43.83 1 44.1752 1 44.5971V47.9724C1 49.6344 2.94333 50.9896 6.76607 51.9869C10.1797 52.8818 14.6928 53.3677 19.5 53.3677C24.2944 53.3677 28.8203 52.8818 32.2339 51.9869C36.0567 50.9896 38 49.6344 38 47.9724V6.3953C37.9872 4.72046 36.0567 3.37802 32.2211 2.38079ZM7.14962 3.86386C10.4354 3.00726 14.8207 2.53421 19.4872 2.53421C24.1538 2.53421 28.539 3.00726 31.8248 3.86386C35.4686 4.80995 36.4402 5.89668 36.4402 6.3953C36.4402 6.88113 35.4686 7.96787 31.8248 8.92675C28.539 9.78335 24.1538 10.2564 19.4872 10.2564C14.8207 10.2564 10.4354 9.78335 7.14962 8.92675C3.50587 7.96787 2.53421 6.88113 2.53421 6.3953C2.53421 5.89668 3.50587 4.80995 7.14962 3.86386ZM31.4796 39.3169C28.2706 42.5387 24.0131 44.3158 19.5 44.3158C14.9869 44.3158 10.7294 42.5387 7.52039 39.3169C4.31133 36.095 2.53421 31.8248 2.53421 27.2861V19.9219V19.9091V17.2754C3.76158 18.1064 5.56427 18.6945 7.27747 19.1165V28.6669C7.27747 29.9582 8.33863 31.0194 9.62992 31.0194C10.9212 31.0194 11.9824 29.9582 11.9824 28.6669V19.8963C13.312 20.0753 14.5266 20.2032 16.0097 20.2799V24.7163C16.0097 26.0076 17.0708 27.0688 18.3621 27.0688C19.6534 27.0688 20.7146 26.0076 20.7146 24.7163V20.3694C23.1437 20.331 25.4706 20.1648 27.6569 19.8708C28.0788 19.8196 28.3728 19.4233 28.3217 19.0142C28.2706 18.5923 27.8742 18.2982 27.4651 18.3493C25.1254 18.6562 22.6068 18.8224 19.9603 18.848C19.5384 18.848 19.1932 19.1932 19.1932 19.6151C19.1932 19.6279 19.1932 19.6279 19.1932 19.6406C19.1932 19.6534 19.1932 19.6534 19.1932 19.6662V24.7291C19.1932 25.1766 18.8224 25.5473 18.3749 25.5473C17.9274 25.5473 17.5567 25.1766 17.5567 24.7291V19.6151C17.5567 19.6023 17.5567 19.6023 17.5567 19.6023C17.5567 19.4872 17.5439 19.3722 17.4927 19.2699C17.48 19.2443 17.48 19.2315 17.4672 19.2059C17.4672 19.2059 17.4672 19.1932 17.4544 19.1932C17.4416 19.1804 17.4416 19.1676 17.4288 19.1548C17.4288 19.142 17.416 19.142 17.416 19.1292C17.4032 19.1165 17.4032 19.1037 17.3905 19.1037C17.3777 19.0909 17.3777 19.0781 17.3649 19.0653L17.3521 19.0525C17.3393 19.0397 17.3265 19.027 17.3138 19.0142C17.3138 19.0142 17.3138 19.0142 17.301 19.0142C17.1603 18.8863 16.9813 18.8224 16.7896 18.8224C16.7768 18.8224 16.7768 18.8224 16.764 18.8224C14.8207 18.7457 13.3632 18.5795 11.65 18.3366C11.5988 18.3366 11.5605 18.3238 11.5093 18.3366C11.4198 18.2982 11.3176 18.2854 11.2153 18.2854C10.7934 18.2854 10.4482 18.6306 10.4482 19.0525V28.718C10.4482 29.1655 10.0774 29.5363 9.62992 29.5363C9.18245 29.5363 8.81168 29.1655 8.81168 28.718V18.5411C8.81168 18.1192 8.46648 17.774 8.04457 17.774C6.26745 17.3777 4.82274 16.8791 3.83829 16.3421C3.02004 15.8946 2.53421 15.4088 2.53421 15.038V8.69662C3.49309 9.34865 4.91223 9.9112 6.76607 10.397C10.1797 11.292 14.6928 11.7778 19.5 11.7778C24.2944 11.7778 28.8203 11.292 32.2339 10.397C34.0878 9.9112 35.5069 9.34865 36.4658 8.69662V14.9741C36.4658 15.5494 35.1361 16.8918 30.1116 17.9019C29.6897 17.9786 29.4212 18.3877 29.5107 18.8096C29.5874 19.1804 29.907 19.4233 30.265 19.4233C30.3162 19.4233 30.3673 19.4233 30.4185 19.4105C32.5663 18.9886 34.9572 18.311 36.4786 17.2882V27.2989C36.453 31.8248 34.6887 36.095 31.4796 39.3169Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
  </symbol>

  <symbol id="icon-about_info_icon_3" width="45" height="49" viewBox="0 0 45 49" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M44.6425 32.2043L42.7723 16.9889L44.6425 1.77347C44.6656 1.57722 44.6079 1.38096 44.4693 1.23089C44.3423 1.08081 44.1461 1 43.9498 1H3.57933C3.233 1 2.93285 1.26552 2.88667 1.61185L1.00495 16.8965C1.00495 16.9312 1.00495 16.9543 1.00495 16.9889C1.00495 17.0235 1.00495 17.0466 1.00495 17.0812L1.98622 25.0353C2.03239 25.4162 2.37872 25.6818 2.75968 25.6356C3.14065 25.5894 3.40617 25.2431 3.35999 24.8621L2.48262 17.6815H41.4678L43.1764 31.5925H4.19118L3.70632 27.6558C3.66014 27.2749 3.31381 27.0094 2.93285 27.0555C2.55189 27.1017 2.28637 27.448 2.33254 27.829L2.88667 32.2967L1.00495 47.5121C0.981859 47.7083 1.03958 47.9046 1.17811 48.0547C1.3051 48.2047 1.50135 48.2856 1.69761 48.2856H42.0797C42.426 48.2856 42.7261 48.02 42.7723 47.6737L43.6497 40.5624C43.6959 40.1814 43.4303 39.8351 43.0494 39.7889C42.6684 39.7428 42.3221 40.0083 42.2759 40.3892L41.4793 46.8887H2.48262L4.19118 32.9893H43.1764L42.5761 37.8957C42.5299 38.2766 42.7954 38.623 43.1764 38.6691C43.5573 38.7153 43.9037 38.4498 43.9498 38.0688L44.654 32.389C44.654 32.3544 44.654 32.3313 44.654 32.2967C44.654 32.262 44.654 32.2389 44.6425 32.2043ZM4.19118 2.38532H43.1764L41.4678 16.2847H2.48262L4.19118 2.38532Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M17.8597 28.083C17.5133 28.1292 17.2594 28.4294 17.2594 28.7757C16.913 28.8219 16.6591 29.1105 16.6591 29.4684C16.6591 29.8493 16.9708 30.161 17.3517 30.161H18.0444C18.2406 30.161 18.4369 30.0802 18.5639 29.9301C18.6909 29.7801 18.7601 29.5838 18.7255 29.3875L18.6331 28.7064C18.587 28.3024 18.2406 28.0253 17.8597 28.083Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M18.1021 24.5157C18.056 24.1347 17.7096 23.8692 17.3287 23.9154C16.9477 23.9615 16.6822 24.3079 16.7284 24.6888L16.8553 25.6586C16.9015 26.0049 17.2017 26.2589 17.5365 26.2589C17.5711 26.2589 17.5942 26.2589 17.6288 26.2589C18.0098 26.2127 18.2753 25.8664 18.2291 25.4854L18.1021 24.5157Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M17.6172 20.6484C17.571 20.3021 17.2824 20.0481 16.9361 20.0481H16.2434C15.8625 20.0481 15.5508 20.3598 15.5508 20.7408C15.5508 21.1217 15.8625 21.4334 16.2434 21.4334H16.3243L16.3358 21.5142C16.382 21.8606 16.6821 22.1145 17.0169 22.1145C17.0515 22.1145 17.0746 22.1145 17.1093 22.103C17.4902 22.0568 17.7557 21.7105 17.7096 21.3295L17.6172 20.6484Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M12.5262 20.0366H11.3948C11.0138 20.0366 10.7021 20.3483 10.7021 20.7293C10.7021 21.1102 11.0138 21.4219 11.3948 21.4219H12.5262C12.9071 21.4219 13.2188 21.1102 13.2188 20.7293C13.2188 20.3483 12.9071 20.0366 12.5262 20.0366Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M7.68906 20.0366H6.9964C6.80014 20.0366 6.60389 20.1174 6.4769 20.2675C6.34991 20.4176 6.28065 20.6138 6.31528 20.8101L6.40764 21.5028C6.45381 21.8491 6.75397 22.1031 7.08875 22.1031C7.12338 22.1031 7.14647 22.1031 7.18111 22.0915C7.52744 22.0453 7.78141 21.7452 7.78141 21.4104C8.12774 21.3642 8.38172 21.0756 8.38172 20.7177C8.38172 20.3483 8.07002 20.0366 7.68906 20.0366Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M7.70071 26.2706C8.08168 26.2244 8.3472 25.8781 8.30102 25.4971L8.17403 24.5274C8.12785 24.1464 7.78153 23.8809 7.40056 23.9271C7.0196 23.9733 6.75408 24.3196 6.80026 24.7006L6.92724 25.6703C6.97342 26.0166 7.27357 26.2706 7.60836 26.2706C7.64299 26.2706 7.66608 26.2706 7.70071 26.2706Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M7.42355 29.5375C7.46973 29.8838 7.75833 30.1378 8.11621 30.1378H8.80887C9.18983 30.1378 9.50153 29.8261 9.50153 29.4451C9.50153 29.0642 9.18983 28.7525 8.80887 28.7525H8.72806L8.71651 28.6717C8.67034 28.2907 8.32401 28.0252 7.94304 28.0714C7.56208 28.1176 7.29656 28.4639 7.34274 28.8448L7.42355 29.5375Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M11.8104 29.4568C11.8104 29.8378 12.1221 30.1495 12.5031 30.1495H13.6344C14.0154 30.1495 14.3271 29.8378 14.3271 29.4568C14.3271 29.0759 14.0154 28.7642 13.6344 28.7642H12.5031C12.1221 28.7642 11.8104 29.0643 11.8104 29.4568Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M38.8242 36.7413L38.9165 36.0486C38.9396 35.8524 38.8819 35.6561 38.7549 35.506C38.6279 35.356 38.4317 35.2751 38.2354 35.2751H37.5428C37.1618 35.2751 36.8501 35.5868 36.8501 35.9678C36.8501 36.3257 37.1156 36.6143 37.4504 36.6605C37.4504 37.0068 37.7044 37.3069 38.0507 37.3416C38.0853 37.3416 38.1084 37.3531 38.1431 37.3531C38.4894 37.3416 38.778 37.0876 38.8242 36.7413Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M38.2932 40.8971L38.4202 39.9274C38.4663 39.5464 38.2008 39.2001 37.8199 39.1539C37.4389 39.1077 37.0926 39.3732 37.0464 39.7542L36.9194 40.7239C36.8732 41.1049 37.1387 41.4512 37.5197 41.4974C37.5543 41.4974 37.5774 41.4974 37.6121 41.4974C37.9584 41.5089 38.2585 41.255 38.2932 40.8971Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M36.5154 43.9102L36.5038 43.991H36.423C36.042 43.991 35.7303 44.3027 35.7303 44.6837C35.7303 45.0646 36.042 45.3763 36.423 45.3763H37.1157C37.462 45.3763 37.7622 45.1224 37.7968 44.776L37.8891 44.0834C37.9353 43.7024 37.6698 43.3561 37.2888 43.3099C36.9194 43.2637 36.5731 43.5292 36.5154 43.9102Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M31.5858 43.991C31.2049 43.991 30.8932 44.3027 30.8932 44.6836C30.8932 45.0646 31.2049 45.3763 31.5858 45.3763H32.7172C33.0982 45.3763 33.4099 45.0646 33.4099 44.6836C33.4099 44.3027 33.0982 43.991 32.7172 43.991H31.5858Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M26.5871 43.9103L26.4947 44.603C26.4716 44.7992 26.5294 44.9955 26.6563 45.1455C26.7833 45.2956 26.9796 45.3764 27.1758 45.3764H27.8685C28.2495 45.3764 28.5612 45.0647 28.5612 44.6838C28.5612 44.3259 28.2956 44.0373 27.9609 43.9911C27.9609 43.6448 27.7069 43.3446 27.3606 43.2984C26.9796 43.2638 26.6333 43.5293 26.5871 43.9103Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M27.6838 41.5089C28.0302 41.5089 28.3303 41.255 28.3649 40.9086L28.4919 39.9274C28.5381 39.5464 28.2726 39.2001 27.8916 39.1539C27.5107 39.1077 27.1643 39.3732 27.1182 39.7542L26.9912 40.7239C26.945 41.1049 27.2105 41.4512 27.5915 41.4974C27.6261 41.5089 27.6492 41.5089 27.6838 41.5089Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M28.896 36.7413L28.9076 36.6605H28.9884C29.3693 36.6605 29.681 36.3488 29.681 35.9678C29.681 35.5868 29.3693 35.2751 28.9884 35.2751H28.2957C27.9494 35.2751 27.6492 35.5291 27.6031 35.8755L27.5107 36.5681C27.4645 36.9491 27.73 37.2954 28.111 37.3416C28.1456 37.3416 28.1687 37.3531 28.2034 37.3531C28.5612 37.3416 28.8498 37.0876 28.896 36.7413Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M34.5181 35.9678C34.5181 35.5868 34.2064 35.2751 33.8255 35.2751H32.6941C32.3132 35.2751 32.0015 35.5868 32.0015 35.9678C32.0015 36.3488 32.3132 36.6605 32.6941 36.6605H33.8255C34.218 36.6605 34.5181 36.3488 34.5181 35.9678Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M37.5197 20.0366H20.4572C20.0762 20.0366 19.7645 20.3483 19.7645 20.7293C19.7645 21.1102 20.0762 21.4219 20.4572 21.4219H37.5197C37.9007 21.4219 38.2124 21.1102 38.2124 20.7293C38.2124 20.3483 37.9007 20.0366 37.5197 20.0366Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M38.2239 23.9502H21.1614C20.7804 23.9502 20.4688 24.2619 20.4688 24.6429C20.4688 25.0238 20.7804 25.3355 21.1614 25.3355H38.2239C38.6049 25.3355 38.9166 25.0238 38.9166 24.6429C38.9166 24.2619 38.6049 23.9502 38.2239 23.9502Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M21.1844 28.5562C21.1844 28.9371 21.4961 29.2488 21.8771 29.2488H38.9396C39.3206 29.2488 39.6323 28.9371 39.6323 28.5562C39.6323 28.1752 39.3206 27.8635 38.9396 27.8635H21.8771C21.4961 27.8635 21.1844 28.1752 21.1844 28.5562Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M5.76126 43.2983C5.3803 43.2983 5.0686 43.61 5.0686 43.991C5.0686 44.372 5.3803 44.6837 5.76126 44.6837H22.8238C23.2047 44.6837 23.5164 44.372 23.5164 43.991C23.5164 43.61 23.2047 43.2983 22.8238 43.2983H5.76126Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M24.2321 40.0774C24.2321 39.6965 23.9204 39.3848 23.5395 39.3848H6.47696C6.096 39.3848 5.7843 39.6965 5.7843 40.0774C5.7843 40.4584 6.096 40.7701 6.47696 40.7701H23.5395C23.9204 40.7701 24.2321 40.4584 24.2321 40.0774Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M24.9364 36.1641C24.9364 35.7831 24.6247 35.4714 24.2437 35.4714H7.18118C6.80022 35.4714 6.48853 35.7831 6.48853 36.1641C6.48853 36.5451 6.80022 36.8568 7.18118 36.8568H24.2437C24.6247 36.8568 24.9364 36.5451 24.9364 36.1641Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M22.9738 12.3711H5.91129C5.53032 12.3711 5.21863 12.6828 5.21863 13.0638C5.21863 13.4447 5.53032 13.7564 5.91129 13.7564H22.9738C23.3548 13.7564 23.6665 13.4447 23.6665 13.0638C23.6665 12.6828 23.3548 12.3711 22.9738 12.3711Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M23.678 8.45776H6.61551C6.23455 8.45776 5.92285 8.76946 5.92285 9.15042C5.92285 9.53139 6.23455 9.84308 6.61551 9.84308H23.678C24.059 9.84308 24.3707 9.53139 24.3707 9.15042C24.3707 8.76946 24.059 8.45776 23.678 8.45776Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M24.3937 4.54419H7.33121C6.95025 4.54419 6.63855 4.85589 6.63855 5.23685C6.63855 5.61781 6.95025 5.92951 7.33121 5.92951H24.3937C24.7747 5.92951 25.0864 5.61781 25.0864 5.23685C25.0864 4.85589 24.7747 4.54419 24.3937 4.54419Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M37.3695 7.76497C36.9886 7.82269 36.7231 8.16902 36.7808 8.54998C36.8039 8.74623 36.827 8.94249 36.827 9.13874C36.827 9.54279 36.7692 9.9353 36.6538 10.3047C36.5499 10.6741 36.7577 11.0551 37.1271 11.1705C37.1964 11.1936 37.2541 11.1936 37.3234 11.1936C37.6235 11.1936 37.9006 10.9974 37.9929 10.6972C38.143 10.1893 38.2123 9.66978 38.2123 9.13874C38.2123 8.87322 38.1892 8.61925 38.1546 8.35373C38.1084 7.97276 37.7505 7.70724 37.3695 7.76497Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M34.091 13.0176C33.7216 13.1561 33.3291 13.2254 32.9366 13.2485C32.5556 13.2716 32.267 13.5948 32.2785 13.9758C32.3016 14.3452 32.6018 14.6338 32.9712 14.6338C32.9827 14.6338 32.9943 14.6338 33.0058 14.6338C33.5369 14.6107 34.0564 14.4953 34.5528 14.3221C34.9106 14.1951 35.1069 13.8026 34.9684 13.4332C34.8529 13.0753 34.4489 12.8906 34.091 13.0176Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M35.2916 4.27875C34.8182 4.02478 34.3218 3.85161 33.8023 3.74771C33.4329 3.6669 33.0635 3.90933 32.9827 4.29029C32.9019 4.67126 33.1443 5.02913 33.5253 5.10994C33.9178 5.19075 34.2872 5.31774 34.6335 5.50245C34.7374 5.56017 34.8529 5.58326 34.9568 5.58326C35.1992 5.58326 35.4416 5.44473 35.5686 5.21384C35.7533 4.86751 35.6263 4.45192 35.2916 4.27875Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M29 5.07517C28.6075 5.43304 28.2727 5.83709 27.9956 6.29887C27.7994 6.62211 27.9033 7.04925 28.2265 7.2455C28.342 7.31477 28.4574 7.3494 28.5844 7.3494C28.8153 7.3494 29.0462 7.23396 29.1732 7.01461C29.3809 6.67983 29.6349 6.36813 29.9235 6.10261C30.2006 5.84864 30.2237 5.40995 29.9697 5.12135C29.7157 4.83274 29.277 4.80965 29 5.07517Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M28.9075 10.732C28.7575 10.3741 28.3534 10.2125 27.9955 10.3626C27.6377 10.5126 27.476 10.9167 27.6261 11.2746C27.8339 11.7594 28.0994 12.2212 28.4458 12.6253C28.5843 12.7869 28.7805 12.8792 28.9768 12.8792C29.1269 12.8792 29.2885 12.833 29.4155 12.7176C29.7156 12.4752 29.7503 12.0365 29.5078 11.7479C29.2654 11.4362 29.0692 11.0899 28.9075 10.732Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
  </symbol>

  <symbol id="icon-about_info_icon_4" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M50.2795 36.9983H37.096L48.8268 31.0047C48.9977 30.9192 49.132 30.7605 49.193 30.5774C49.2541 30.3943 49.2419 30.1868 49.1442 30.0159L46.4953 24.8036C46.3122 24.4373 45.8728 24.3031 45.5065 24.4862C45.1403 24.6693 45.0061 25.1087 45.1892 25.4749L47.5207 30.0281L28.4412 39.7693L14.3544 46.9714C14.391 46.8981 14.4276 46.8127 14.4643 46.7272C14.623 46.6906 14.7816 46.593 14.8793 46.4465L17.3817 42.9797L17.4672 43.1628C17.5526 43.3337 17.7113 43.468 17.8944 43.529C17.9677 43.5534 18.0409 43.5656 18.1141 43.5656C18.224 43.5656 18.3461 43.5412 18.4437 43.4802L24.7913 40.2331C25.1576 40.05 25.2918 39.6106 25.1087 39.2444L23.0213 35.155L24.242 33.4705L26.7567 38.4021C26.8909 38.6584 27.1473 38.8049 27.4158 38.8049C27.5257 38.8049 27.6356 38.7805 27.7454 38.7195L34.093 35.4724C34.447 35.2893 34.5935 34.8499 34.4104 34.4837L31.1634 28.1361C31.0779 27.9652 30.9192 27.8309 30.7361 27.7698C30.553 27.7088 30.3455 27.721 30.1746 27.8187L27.2205 29.3201L28.8196 27.1107L42.4792 20.1649L43.8952 22.9237C44.0783 23.2777 44.5178 23.4242 44.884 23.2411C45.238 23.058 45.3845 22.6185 45.2014 22.2523L43.4558 18.8344C43.3703 18.6635 43.2116 18.5292 43.0285 18.4681C42.8454 18.4071 42.6379 18.4193 42.467 18.517L30.7361 24.5106L38.4509 13.8295C38.6829 13.4999 38.6096 13.0483 38.2922 12.8041L28.1361 5.45554C27.8065 5.22361 27.3548 5.29685 27.1107 5.61423L15.0136 22.3377V1.73242C15.0136 1.32959 14.684 1 14.2812 1H1.74462C1.34179 1 1.01221 1.32959 1.01221 1.73242V29.7352C1.01221 30.138 1.34179 30.4676 1.74462 30.4676C2.14745 30.4676 2.47704 30.138 2.47704 29.7352V8.10445H13.5487V43.9929C13.5487 47.0446 11.0707 49.5348 8.00679 49.5348C4.95505 49.5348 2.46483 47.0568 2.46483 43.9929V32.7137C2.46483 32.3108 2.13525 31.9812 1.73242 31.9812C1.32959 31.9812 1 32.3108 1 32.7137V43.9929C1 47.8503 4.13719 50.9997 8.00679 50.9997H50.2673C50.6701 50.9997 50.9997 50.6701 50.9997 50.2673V37.7307C51.0119 37.3279 50.6823 36.9983 50.2795 36.9983ZM28.722 41.2707L28.9417 41.1609H34.386V46.8249H28.722V41.2707ZM18.2728 46.6174L23.9369 43.7243V46.8371H18.2728V46.6174ZM15.0136 29.4788L15.0502 29.43L19.64 32.7503L16.3197 37.3401L15.0136 36.388V29.4788ZM23.4852 39.2688L18.4437 41.8445L18.3461 41.6491L22.0692 36.4978L23.4852 39.2688ZM25.7191 31.7737L30.2112 29.4788L32.7869 34.5203L27.7454 37.096L25.3285 32.3597C25.2918 32.2986 25.2552 32.2376 25.2064 32.1888L25.4383 31.8592C25.536 31.847 25.6214 31.8226 25.7191 31.7737ZM27.8675 7.10348L36.8396 13.5854L15.0136 43.7609V38.1946L16.0634 38.9514C16.1854 39.0369 16.3441 39.0857 16.4906 39.0857C16.5272 39.0857 16.5639 39.0857 16.6005 39.0735C16.7958 39.0369 16.9667 38.9392 17.0766 38.7805L21.2513 33.0066C21.4833 32.677 21.41 32.2254 21.0926 31.9812L15.3188 27.8065C15.2333 27.7454 15.1234 27.6966 15.0136 27.6844V24.8646L27.8675 7.10348ZM2.47704 6.63961V2.46483H13.5487V6.63961H2.47704ZM49.547 49.5348H12.56L16.808 47.362V47.5573C16.808 47.9601 17.1376 48.2897 17.5404 48.2897H24.6693C25.0721 48.2897 25.4017 47.9601 25.4017 47.5573V42.9675L27.2572 42.0154V47.5573C27.2572 47.9601 27.5867 48.2897 27.9896 48.2897H35.1184C35.5213 48.2897 35.8508 47.9601 35.8508 47.5573V40.4285C35.8508 40.0256 35.5213 39.696 35.1184 39.696H31.8103L34.2395 38.4631H49.547V49.5348Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M38.4387 48.2897H45.5676C45.9704 48.2897 46.3 47.9601 46.3 47.5573V40.4285C46.3 40.0256 45.9704 39.696 45.5676 39.696H38.4387C38.0359 39.696 37.7063 40.0256 37.7063 40.4285V47.5573C37.7063 47.9724 38.0359 48.2897 38.4387 48.2897ZM39.1711 41.1609H44.8352V46.8249H39.1711V41.1609Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M39.5006 23.0826L33.153 26.3296C32.9821 26.4151 32.8479 26.5737 32.7868 26.7568C32.7258 26.9399 32.738 27.1475 32.8356 27.3184L36.0827 33.666C36.217 33.9223 36.4733 34.0688 36.7297 34.0688C36.8395 34.0688 36.9616 34.0444 37.0593 33.9834L43.4069 30.7363C43.5778 30.6509 43.712 30.4922 43.7731 30.3091C43.8341 30.126 43.8219 29.9184 43.7242 29.7475L40.4772 23.3999C40.3063 23.0459 39.8668 22.8994 39.5006 23.0826ZM37.047 32.3354L34.4714 27.294L39.5128 24.7183L42.0885 29.7598L37.047 32.3354Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M22.5208 17.8457L28.2947 22.0204C28.4168 22.1059 28.5755 22.1547 28.722 22.1547C28.7586 22.1547 28.7952 22.1547 28.8318 22.1425C29.0271 22.1059 29.198 22.0082 29.3079 21.8496L33.4827 16.0757C33.7146 15.7461 33.6414 15.2944 33.324 15.0503L27.5501 10.8755C27.2205 10.6436 26.7688 10.7168 26.5247 11.0342L22.3499 16.8081C22.1302 17.1499 22.2034 17.6137 22.5208 17.8457ZM27.2937 12.499L31.8836 15.8193L28.5633 20.4091L23.9735 17.0888L27.2937 12.499Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M16.4052 26.3171L22.179 30.4919C22.3133 30.5896 22.4598 30.6262 22.6063 30.6262C22.8382 30.6262 23.0579 30.5163 23.2044 30.321L27.3792 24.5471C27.6111 24.2176 27.5379 23.7659 27.2205 23.5218L21.4466 19.347C21.2879 19.2371 21.0926 19.1883 20.8973 19.2127C20.702 19.2493 20.5311 19.347 20.4212 19.5057L16.2343 25.2918C16.0023 25.6214 16.0756 26.073 16.4052 26.3171ZM21.1781 20.9705L25.7679 24.2908L22.4476 28.8806L17.8578 25.5603L21.1781 20.9705Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M7.89695 20.5554C7.49412 20.5554 7.16453 20.885 7.16453 21.2878V22.9968H5.45556C5.05273 22.9968 4.72314 23.3264 4.72314 23.7292C4.72314 24.1321 5.05273 24.4616 5.45556 24.4616H7.16453V26.1706C7.16453 26.5734 7.49412 26.903 7.89695 26.903C8.29978 26.903 8.62937 26.5734 8.62937 26.1706V24.4616H10.3383C10.7412 24.4616 11.0708 24.1321 11.0708 23.7292C11.0708 23.3264 10.7412 22.9968 10.3383 22.9968H8.62937V21.2878C8.62937 20.885 8.29978 20.5554 7.89695 20.5554Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
    <path d="M7.72605 39.4641C5.76073 39.4641 4.16162 41.0632 4.16162 43.0285C4.16162 44.9939 5.76073 46.593 7.72605 46.593C9.69137 46.593 11.2905 44.9939 11.2905 43.0285C11.2783 41.0632 9.67916 39.4641 7.72605 39.4641ZM7.72605 45.1526C6.55418 45.1526 5.60204 44.2004 5.60204 43.0285C5.60204 41.8567 6.55418 40.9045 7.72605 40.9045C8.89792 40.9045 9.85006 41.8567 9.85006 43.0285C9.85006 44.2004 8.89792 45.1526 7.72605 45.1526Z"
      fill="currentcolor" stroke="currentcolor" stroke-width="0.5" />
  </symbol>

  <symbol id="icon-about_plus_icon" width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M26.5389 16.394H17.1429V25.574H10.1769V16.394H0.834914V9.806H10.1769V0.625998H17.1429V9.806H26.5389V16.394Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-arrow-icon" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.56189 1L0.600003 4.96027L4.64137 9" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" />
    <line x1="0.5" y1="-0.5" x2="13.8364" y2="-0.5" transform="matrix(1 8.74228e-08 8.74228e-08 -1 0.663574 4.43915)"
      stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" />
  </symbol>

  <symbol id="icon-phong-thuy-kim" width="131" height="125" viewBox="0 0 131 125" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M59.248 0.910889L62.3136 4.81246C64.2644 7.5993 65.3791 10.9435 65.3791 14.2877V48.8445" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M58.4121 41.5988L65.6579 58.0411L72.3463 41.5988L65.3792 45.5003L58.4121 41.5988Z" fill="currentcolor" />
    <path d="M71.51 124.089L68.4444 120.188C66.4936 117.401 65.3789 114.056 65.3789 110.712V76.1555" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M72.3463 83.4013L64.8218 67.2376L58.4121 83.4013L65.3792 79.4997L72.3463 83.4013Z" fill="currentcolor" />
    <path d="M129.476 56.369L125.574 59.4345C122.788 61.3853 119.443 62.5 116.099 62.5H81.2637" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M88.788 55.5329L72.3457 63.0574L88.788 69.4671L84.6078 62.5L88.788 55.5329Z" fill="currentcolor" />
    <path d="M1.28125 68.6311L5.18282 65.5655C7.96966 63.6148 11.3139 62.5 14.6581 62.5H49.2149" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M41.9688 69.4671L58.4111 61.9427L41.9688 55.5329L45.8703 62.5L41.9688 69.4671Z" fill="currentcolor" />
  </symbol>

  <symbol id="icon-phong-thuy-hoa" width="92" height="93" viewBox="0 0 92 93" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M52.3457 42.7662C56.7516 39.8289 61.4023 38.8499 66.2977 39.5842L87.3481 42.7662" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M76.5781 47.4169L91.9988 43.011L78.5363 35.1783L81.2288 41.7871L76.5781 47.4169Z" fill="currentcolor" />
    <path d="M53.3242 48.6407C58.4644 49.375 62.8703 51.578 66.0524 55.2496L79.7596 71.4045" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M68.7441 67.733L82.9409 74.5866L78.0455 59.9003L75.5978 66.5091L68.7441 67.733Z" fill="currentcolor" />
    <path d="M50.1426 53.5362C53.5694 57.4525 55.5276 62.1032 55.5276 66.7539L55.2828 88.0491" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M49.1641 78.2582L55.7729 92.6997L61.4027 78.2582L55.2834 81.685L49.1641 78.2582Z" fill="currentcolor" />
    <path d="M44.5148 55.2495C44.7596 60.3898 43.0462 65.0404 39.8641 68.712L25.9121 84.6222" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M27.6246 73.3627L23.2188 88.5385L36.926 81.4401L30.0724 79.9715L27.6246 73.3627Z" fill="currentcolor" />
    <path d="M39.1288 52.8018C35.9468 56.7182 31.5409 59.4107 26.8902 59.9002L5.83984 62.8375" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M14.6513 55.4943L1.43359 64.0613L16.3647 67.7329L11.9588 62.1032L14.6513 55.4943Z" fill="currentcolor" />
    <path d="M36.6817 47.6616C31.5415 48.6407 26.646 47.6616 22.7297 44.9691L4.86133 33.4648" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M16.3646 33.4649L0.699219 31.2619L9.75578 43.9901L10.0006 36.8917L16.3646 33.4649Z" fill="currentcolor" />
    <path d="M38.3946 42.0319C33.9887 39.3394 30.8067 35.4231 29.5828 31.0172L23.2188 10.4563" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M32.0303 18.0443L21.5051 6.05043L20.2812 21.4711L25.1767 16.3309L32.0303 18.0443Z" fill="currentcolor" />
    <path d="M43.0442 38.6051C41.3308 33.7096 41.5756 28.5694 43.5338 24.4083L52.3456 5.0713" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M54.0583 16.5756L53.8136 0.665405L42.7988 11.4354L49.8972 10.7011L54.0583 16.5756Z" fill="currentcolor" />
    <path d="M48.9199 39.3394C50.8781 34.4439 54.3049 30.7723 58.7108 28.8142L78.0478 19.7576" stroke="currentcolor"
      stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M71.6832 29.7933L81.9636 17.5547L66.543 18.5337L72.1727 22.6949L71.6832 29.7933Z" fill="currentcolor" />
  </symbol>


  <symbol id="icon-phong-thuy-moc" width="47" height="84" viewBox="0 0 47 84" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M28.06 82.57L25.53 76.36C23.92 71.99 23 66.7 23 61.41V7.36" stroke="currentcolor" stroke-width="1.5"
      stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M28.75 13.57L22.54 0L17.25 13.57L23 10.12L28.75 13.57Z" fill="currentcolor" />
    <path d="M10.81 79.12L8.28 73.83C6.67 70.15 5.75 65.78 5.75 61.41V15.41" stroke="currentcolor" stroke-width="1.5"
      stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M11.5 21.62L5.29 8.05L0 21.62L5.75 18.17L11.5 21.62Z" fill="currentcolor" />
    <path d="M45.31 79.12L42.78 73.83C41.17 70.15 40.25 65.78 40.25 61.41V15.41" stroke="currentcolor" stroke-width="1.5"
      stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M46 21.62L39.79 8.05L34.5 21.62L40.25 18.17L46 21.62Z" fill="currentcolor" />
  </symbol>

  <symbol id="icon-phong-thuy-tho" width="76" height="77" viewBox="0 0 76 77" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M51.5645 23.9053L58.0578 32.7909L59.9375 22.0256L56.1782 25.4432L51.5645 23.9053Z" fill="currentcolor" />
    <path d="M73.4367 65.0869L75.9998 54.3215L66.6016 59.7896L71.557 60.4732L73.4367 65.0869Z" fill="currentcolor" />
    <path d="M56.6913 27.6646C56.3495 22.5382 52.932 17.7537 48.4891 15.1905C39.6035 9.89327 27.4712 12.6273 20.4652 19.6333C6.11142 33.9871 15.3388 57.5682 34.1354 62.011C43.3628 64.2324 53.6155 61.4984 60.7923 55.005C67.9692 48.5117 71.5577 38.6008 70.7033 29.2025C70.1906 23.0509 67.7983 17.0701 63.8681 12.2856C59.5962 7.15922 53.6155 3.74166 47.1221 2.03288C34.3063 -1.2138 20.1234 2.7164 11.0669 11.7729C2.01035 20.8295 -1.06545 35.0123 1.83947 47.6573C6.62405 68.3335 26.7876 78.0736 47.293 74.656C57.5457 72.9472 65.5769 67.65 71.5577 60.4731"
      stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
  </symbol>

  <symbol id="icon-phong-thuy-thuy" width="96" height="42" viewBox="0 0 96 42" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M83.9727 11.5552L96 12.8849L88.5649 1.80386L88.7836 8.23089L83.9727 11.5552Z" fill="currentcolor" />
    <path d="M12.0273 5.12818L0 3.79845L7.43508 14.6579L7.2164 8.23088L12.0273 5.12818Z" fill="currentcolor" />
    <path d="M4.5918 7.12278L13.995 11.3336C22.5235 15.1012 32.1453 14.8795 40.4551 10.6687L52.9198 4.46332C61.8856 -0.190733 72.1636 -0.190733 81.3481 4.68494L90.0952 9.11738"
      stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M83.9727 24.6309L96 25.9606L88.5649 15.1012L88.7836 21.5282L83.9727 24.6309Z" fill="currentcolor" />
    <path d="M12.0273 18.2039L0 16.8741L7.43508 27.9552L7.2164 21.3066L12.0273 18.2039Z" fill="currentcolor" />
    <path d="M4.5918 20.1985L13.995 24.4093C22.5235 28.1768 32.1453 27.9552 40.4551 23.7444L52.9198 17.539C61.8856 12.885 72.1636 12.885 81.3481 17.7606L90.0952 22.1931"
      stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
    <path d="M83.9727 37.7066L96 39.0363L88.5649 28.1768L88.7836 34.6039L83.9727 37.7066Z" fill="currentcolor" />
    <path d="M12.0273 31.2796L0 29.9498L7.43508 41.0309L7.2164 34.6039L12.0273 31.2796Z" fill="currentcolor" />
    <path d="M4.5918 33.2741L13.995 37.485C22.5235 41.2525 32.1453 41.0309 40.4551 36.8201L52.9198 30.6147C61.8856 25.9606 72.1636 25.9606 81.3481 30.8363L90.0952 35.2687"
      stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
  </symbol>

  <symbol id="icon-search_form__icon" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5595 15.4322L13.6491 11.5219C13.6283 11.5011 13.6039 11.4866 13.5822 11.4672C14.3516 10.3001 14.8007 8.90292 14.8007 7.40043C14.8007 3.31327 11.4874 0 7.40036 0C3.31327 0 0 3.31327 0 7.40036C0 11.4874 3.31319 14.8007 7.40028 14.8007C8.90285 14.8007 10.2999 14.3516 11.4671 13.5822C11.4864 13.6038 11.5009 13.6282 11.5217 13.649L15.4322 17.5595C16.0196 18.1468 16.972 18.1468 17.5595 17.5595C18.1468 16.972 18.1468 16.0197 17.5595 15.4322ZM7.40036 12.2352C4.73004 12.2352 2.5654 10.0706 2.5654 7.40036C2.5654 4.73004 4.73011 2.5654 7.40036 2.5654C10.0705 2.5654 12.2352 4.73011 12.2352 7.40036C12.2352 10.0706 10.0705 12.2352 7.40036 12.2352Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-sellect_cavet" width="14" height="7" viewBox="0 0 14 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.49145 6.25776L0.874821 0.934418C0.557808 0.568877 0.81746 1.10012e-08 1.30132 1.80703e-08C1.46043 2.03949e-08 1.61216 0.0671468 1.71916 0.184916L5.52211 4.3707C6.3157 5.24417 7.6891 5.24417 8.48268 4.3707L12.2856 0.184916C12.3926 0.067147 12.5444 1.82328e-07 12.7035 1.84653e-07C13.1873 1.91722e-07 13.447 0.568877 13.13 0.934419L8.51335 6.25776C7.7159 7.17728 6.2889 7.17728 5.49145 6.25776Z"
      fill="currentcolor" />
  </symbol>

  <symbol id="icon-sellect_icon" width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.93301 12.25C7.74056 12.5833 7.25944 12.5833 7.06699 12.25L0.571797 1C0.379346 0.666668 0.619908 0.250001 1.00481 0.250001L13.9952 0.250002C14.3801 0.250002 14.6207 0.666669 14.4282 1L7.93301 12.25Z"
      fill="currentcolor" />
  </symbol>


</svg>
